<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>
    <%- include("../partials/header") %>

    <section class="product-detail">
        <div class="title-container">
            <h1 class="title">Mi carrito de compras</h1>
        </div>
        <hr>
        <section class="my-order-content">
            <div class="shopping-cart">
                <img src="/images/juegos estrategia.png" class="product" alt="juego de estrategia">
                <p>Juegos de Estrategia</p>
                <input type="number" class="quantity" placeholder="1" min="1" max="19"></input>
                <!-- <div class="quantity-container">
                    <button id="decrementar">-</button>
                    <span id="cantidad">1</span>
                    <button id="incrementar">+</button>
                </div> -->
                <p class="price">$7,00</p>
                <p class="delete">eliminar</p>
            </div>
            <div class="shopping-cart">
                <img src="/images/juegos previa.png" class="product" alt="juego de previa">
                <p>Juegos de Previa</p>
                <input type="number" class="quantity" placeholder="1" min="1" max="19"></input>
                <!-- no agrego acá el mismo código de arriba, porque solo funciona para un producto. Tengo que arreglarlo.-->
                <p class="price">$13,00</p>
                <p class="delete">eliminar</p>
            </div>
            <div class="shopping-cart">
                <img src="/images/juegos familiares.png" class="product" alt="juegos de familia">
                <p>Juegos Familiares</p>
                <input type="number" class="quantity" placeholder="1" min="1" max="19"></input>
                <!-- no agrego acá el mismo código de arriba, porque solo funciona para un producto. Tengo que arreglarlo.-->
                <p class="price">$30,00</p>
                <p class="delete">eliminar</p>
            </div>
            <div class="order">

                <span>Total estimado</span>
                <span>$50.00</span>

            </div>
            <nav class="payment-methods">
                <div class="methods">
                    <span>Métodos de pago</span>
                    <img src="/images/mercadopago.png" width="135px" height="45px" alt="mercado pago">
                    <img src="/images/american.png" width="135px" height="60px" alt="american express">
                    <img src="/images/visa.png" width="135px" height="45px" alt="visa">
                    <img src="/images/mastercard.png" width="135px" height="45px" alt="mastercard">
                </div>
            </nav>
            <div class="pay">
                <a href="/users/metodosDePago" class="primary-button">Pagar</a>
            </div>
        </section>
    </section>

    <%- include("../partials/footer") %> 
		<script src="/js/efecto.js"></script>
    <!-- <script src="/js/cantidadCarrito.js"></script> -->
</body>

</html>