<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Carrito.css">
    <title>Chancho va! - Carrito</title>
    <!-- FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <main class="product-detail">
        <div class="title-container">
            <h1 class="title">Mi carrito de compras</h1>
        </div>
        <hr>
        <div class="my-order-content">
            <div class="shopping-cart">
                <figure>
                    <img src="../public/images/juegos estrategia.png" alt="producto">
                </figure>
                <p>Juegos de Estrategia</p>
                <p>$7,00</p>
                <p class="eliminar">eliminar</p>
            </div>
            <div class="shopping-cart">
                <figure>
                    <img src="../public/images/juegos previa.png" alt="juego de previa">
                </figure>
                <p>Juegos de Previa</p>
                <p>$13,00</p>
                <p class="eliminar">eliminar</p>
            </div>
            <div class="shopping-cart">
                <figure>
                    <img src="../public/images/juegos familiares.png"
                        alt="juegos de familia">
                </figure>
                <p>Juegos Familiares</p>
                <p>$30,00</p>
                <p class="eliminar">eliminar</p>
            </div>
            <div class="order">
                <p>
                    <span>Total estimado</span>
                </p>
                <p>$40.00</p>
            </div>
            <button class="primary-button">Pagar</button>
        </div>
        
    </main>
    
   <!--  <footer>
        <div>
            <h3>Chancho va!</h3>
            <p>Copyright © 1999-2023</p>
            <p>Chancho va! S.R.L.</p>
            <p class="noPhone">Monroe 860, C1428 CABA</p>
        </div>
        <ul class="footerUl">
            <li class="noPhone"><a href="about.html">Nosotros</a></li>
            <li class="noPhone"><a href="help.html">Ayuda</a></li>
            <li><a href="terms.html">Términos y condiciones</a></li>
            <li class="noOther"><a href="contact.html">Contacto</a></li>
        </ul>
        <div class="noPhone">
            <p class="noPhone">Contacto</p>
            <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
            <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
            <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
        </div>
        <div class="desktop">
            <img class="qr" src="images/qr.jpg" alt="qr"> 
        </div>

    </footer> -->

</body>
</html>