<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/carrito.css">
    <title>Chancho va! - Carrito</title>
    <!-- FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <main>
        <h1>Tu carro de compras</h1>
        <hr>
        <div>
            <img src="../public/images/productoEjemplo.jpeg" height="70px" width="200px" alt="img ejemplo">
            <hr>
            
        </div>
    </main>
    
</body>
</html>