<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/carrito.css">
    <title>Chancho va! - Carrito</title>
    <!-- FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <main class="carrito-container">
        <div class="titulo-container">
            <h1>Tu carrito de compras</h1>
            <hr>
        </div>
        <div class="producto-detail">
            <img src="../public/images/productoEjemplo.jpeg" height="70px" width="200px" alt="img ejemplo">
            <p>Nombre producto</p>
            <p>$30,00</p>
            <p>Eliminar</p>
            
            <hr>
            
        </div>
    </main>
    
</body>
</html>