<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Chancho Va!</title>
</head>

<body>
    <main>
        <section class="detalle-producto">
            <div class="titulo-producto">
                <h1>Red 7</h1>
            </div>
            <div class="imagen-producto">
                <img src="/images/red7/red_7_1.webp" alt="Red 7 foto de la caja">
            </div>
            <div>
                <p>$3990</p>
            </div>
            <div>
                <button>Agregar al carrito <i class="fa-solid fa-cart-arrow-down"></i></button>
            </div>
            <p class="jugadores-producto">Cantidad de jugadores: 2 a 4</p>
            <div>
                <h4><a href="">Medios de pago</a></h4>
            </div>
            <h2>¿QUÉ ES RED7?</h2>
            <div class="imagen_descripcion-producto">
                <img src="/images/red7/RED7_descripcion.jpg" alt="">
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <a href="">
                    <h3 class="nombre-articulo">ATR</h3>
                    <img src="/images/atr/atr1.webp" alt="atr">
                </a>
            </article>
            <article>
                <a href="">
                    <h3 class="nombre-articulo">Amigos de mierda</h3>
                    <img src="/images/amigos-de-mierda/adm1.webp" alt="amigos de mierda">
                </a>
            </article>
            <article>
                <a href="">
                    <h3 class="nombre-articulo">HDP</h3>
                    <img src="/images/hdp/hdp1.webp" alt="hdp">
                </a>
            </article>
        </section>
        <section>
            <h2>Tambien te podria interesar</h2>
            <article>
                <a href="">
                    <h3 class="nombre-articulo">Ni lo testeamos un poco</h3>
                    <img src="/images/Ni-lo-testeamos-un-poco/nltup1.webp" alt="Ni lo testeamos un poco">
                </a>
            </article>
            <article>
                <a href="">
                    <h3 class="nombre-articulo">Decisiones de mierda</h3>
                    <img src="/images/decisiones-de-mierda/ddm1.webp" alt="Decisiones de mierda">
                </a>
            </article>
            <article>
                <a href="">
                    <h3 class="nombre-articulo">Tomalo vos</h3>
                    <img src="/images/tomalo-vos/tv1.webp" alt="Tomalo vos">
                </a>
            </article>
        </section>
    </main>
</body>

</html>