<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chancho Va!</title>
</head>

<body>
    <main>
        <article class="detalle-producto">
            <div class="titulo-producto">
                <h1>Red 7</h1>
            </div>
            <div class="imagen-producto">
                <img src="/images/red7/red_7_1.webp" alt="Red 7 foto de la caja">
            </div>
            <p class="jugadores-producto">Cantidad de jugadores: 2 a 4</p>
            <div>
                Medios de pago
            </div>
            <h2>¿QUÉ ES RED7?</h2>
            <div class="imagen_descripcion-producto">
                <img src="/images/red7/RED7_descripcion.jpg" alt="">
            </div>
        </article>
    </main>
</body>

</html>