<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Chancho Va!</title>
</head>

<body>

    <header>
        <div class="head">
            <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="menu">
            <div class="barra">
               <span class="linea1"></span>
               <span class="linea2"></span>
               <span class="linea3"></span>
            </div>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="lista">
            <ul>
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/envios">Envíos</a></li>
                <li><a href="/ayuda">Cómo comprar</a></li>
                <li><a href="/pago">Métodos de pago</a></li>
            </ul>
        </div>
        <div class="item">
            <div class="usuario">
                <a href="/perfil"><i class="fa-regular fa-user"></i></a>
            </div>
            <div class="carrito">
                <a href="/carrito"><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="prueba">
                   <div class="link"> 
                       <a href="/login">Ingresa</a>
                   </div>
                   <div class="signUp">
                    <a href="/login"><i class="fa-regular fa-user"></i></a>
                   </div>
                   <div class="imagen-oculta">
                      <div class="contenedor">
                          <a href="/home"><img src="/image/sinfondo.png" alt="logo"></a>
                          <h3 class="oculto">Juegos de mesa</h3>
                      </div>
                   </div>
            </div>
        </div>
    </header>

    <main>
        <section class="producto">
            <div class="titulo-producto">
                <h1>Red 7</h1>
            </div>
            <div class="imagen-producto">
                <img src="/images/red7/red_7_1.webp" alt="Red 7 foto de la caja">
            </div>
            <div class="precio">
                <p>$3990</p>
            </div>
            <div class="medios">
                <h4><a href="">Medios de pago</a></h4>
            </div>
            <div class="carrito">
                <button>Agregar al carrito <i class="fa-solid fa-cart-arrow-down"></i></button>
            </div>
            <h2 class="titulo_descripcion-producto">¿QUÉ ES RED7?</h2>
            <div class="imagen_descripcion-producto">
                <img src="/images/red7/RED7_descripcion.jpg" alt="">
            </div>
        </section>
        <div class="titulo">
            <h2>Ofertas</h2>
        </div>
        <section class="articulos">
            <article class="articulo">
                <a href="">
                    <h3 class="nombre-articulo">ATR</h3>
                    <div class="imagen-producto">
                        <img class="imagen" src="/images/atr/atr1.webp" alt="atr">
                    </div>
                </a>
            </article>
            <article class="articulo">
                <a href="">
                    <h3 class="nombre-articulo">Decisiones de mierda</h3>
                    <div class="imagen-producto">
                        <img src="/images/decisiones-de-mierda/ddm1.webp" alt="Decisiones de mierda">
                    </div>
                </a>
            </article>
            <article class="articulo">
                <a href="">
                    <h3 class="nombre-articulo">HDP</h3>
                    <div class="imagen-producto">
                        <img src="/images/hdp/hdp1.webp" alt="hdp">
                    </div>
                </a>
            </article>
        </section>
        <div class="titulo">
            <h2>Tambien te podria interesar</h2>
        </div>
        <section class="articulos">
            <article class="articulo">
                <a href="">
                    <h3 class="nombre-articulo">Ni lo testeamos un poco</h3>
                    <div class="imagen-producto">
                        <img src="/images/Ni-lo-testeamos-un-poco/nltup1.webp" alt="Ni lo testeamos un poco">
                    </div>
                </a>
            </article>
            <article class="articulo">
                <a href="">
                    <h3 class="nombre-articulo">Amigos de mierda</h3>
                    <div class="imagen-producto">
                        <img src="/images/amigos-de-mierda/adm1.webp" alt="amigos de mierda">
                    </div>
                </a>
            </article>
            <article class="articulo">
                <a href="">
                    <h3 class="nombre-articulo">Tomalo vos</h3>
                    <div class="imagen-producto">
                        <img src="/images/tomalo-vos/tv1.webp" alt="Tomalo vos">
                    </div>
                </a>
            </article>
        </section>
    </main>

    <footer>
        <div>
            <h3>Chancho va!</h3>
            <p>Copyright © 1999-2023</p>
            <p>Chancho va! S.R.L.</p>
            <p class="noPhone">Monroe 860, C1428 CABA</p>
        </div>
        <ul class="footerUl">
            <li class="noPhone"><a href="about.html">Nosotros</a></li>
            <li class="noPhone"><a href="help.html">Ayuda</a></li>
            <li><a href="terms.html">Términos y condiciones</a></li>
            <li class="noOther"><a href="contact.html">Contacto</a></li>
        </ul>
        <div class="noPhone">
            <p class="noPhone">Contacto</p>
            <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
            <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
            <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
        </div>
        <div class="desktop">
            <img class="qr" src="images/qr.jpg" alt="qr"> 
        </div>
    </footer>
</body>

</html>