<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/help.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head">
            <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="menu">
            <div class="barra">
               <span class="linea1"></span>
               <span class="linea2"></span>
               <span class="linea3"></span>
            </div>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="lista">
            <ul>
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/envios">Envíos</a></li>
                <li><a href="/ayuda">Cómo comprar</a></li>
                <li><a href="/pago">Métodos de pago</a></li>
            </ul>
        </div>
        <div class="item">
            <div class="usuario">
                <a href="/perfil"><i class="fa-regular fa-user"></i></a>
            </div>
            <div class="carrito">
                <a href="/carrito"><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="prueba">
                   <div class="link"> 
                       <a href="/login">Ingresa</a>
                   </div>
                   <div class="signUp">
                    <a href="/perfil"><i class="fa-regular fa-user"></i></a>
                   </div>
                   <div class="imagen-oculta">
                      <div class="contenedor">
                          <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
                          <h3 class="oculto">Juegos de mesa</h3>
                      </div>
                   </div>
            </div>
        </div>
    </header>
    <main>
        <h2>Preguntas frecuentes</h2>
        <div class="preguntas">
            <div class="pregunta">
                <h3>¿Cómo hago para comprar?</h3>
                <p>Para comprar en nuestra página, primero tenés que registrarte. Una vez que estés registrado, podés elegir los productos que quieras comprar y agregarlos al carrito. Luego, podés seguir comprando o ir al carrito para finalizar la compra. Una vez que hayas finalizado la compra, te enviaremos un mail con los datos de tu compra.</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para registrarme?</h3>
                <p>Para registrarte, tenés que ingresar a la página principal y hacer click en el botón "Registrarse". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás registrado!</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para iniciar sesión?</h3>
                <p>Para iniciar sesión, tenés que ingresar a la página principal y hacer click en el botón "Iniciar sesión". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás logueado!</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para recuperar mi contraseña?</h3>
                <p>Si olvidaste tu contraseña, tenés que ingresar a la página principal y hacer click en el botón "Iniciar sesión". Luego, tenés que hacer click en el botón "¿Olvidaste tu contraseña?". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás logueado!</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para cambiar mi contraseña?</h3>
                <p>Si querés cambiar tu contraseña, tenés que ingresar a la página principal y hacer click en el botón "Iniciar sesión". Luego, tenés que hacer click en el botón "¿Olvidaste tu contraseña?". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás logueado!</p>
            </div>
    </main>
    <footer>
        <div>
            <h3>Chancho va!</h3>
            <p>Copyright © 1999-2023</p>
            <p>Chancho va! S.R.L.</p>
            <p class="noPhone">Monroe 860, C1428 CABA</p>
        </div>
        <ul class="footerUl">
            <li class="noPhone"><a href="/about">Nosotros</a></li>
            <li class="noPhone"><a href="/help">Ayuda</a></li>
            <li><a href="/terms">Términos y condiciones</a></li>
            <li class="noOther"><a href="/contact">Contacto</a></li>
        </ul>
        <div class="noPhone">
            <a class="noPhone" href="/contact">Contacto</a></li>
            <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
            <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
            <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
        </div>
        <div class="desktop">
            <img class="qr" src="images/qr.jpg" alt="qr"> 
        </div>

    </footer>
</body>
</html>