<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chancho Va!</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="CSS/home.css">

</head>
<body>
    <header>
        <div class="imagen">
           <a href="/views/home.html"><img src="/image/sinfondo.png" alt="logo"></a>
           <h3>Juegos de mesa</h3>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="item">
            <div class="signUp">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="carrito">
                <i class="fa-brands fa-opencart"></i>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
        <nav>        
        <section class="home__carrusel">
            <a href="/"><img src="/images/envio.png" alt=""></a>

        </section>
    </nav>
    <main>
        <section class="home__menu--tematico">
            <article>
                <a href="/familiares.html"><img src="/images/juegos familiares.png" alt=""></a>
            </article>
            <article>
                <a href="/estrategia.html"><img src="/images/juegos estrategia.png" alt=""></a>
            </article>
            <article>
                <a href="/previa.html"><img src="/images/juegos previa.png" alt=""></a>
            </article>
        </section>        

        

        <section class="home__productos"> 
            <h2>Ofertas</h2>  
            <div class="home__container--productos">
            <article class="home__tarjeta--producto">               
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/red.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Red7</h3>
                <p class="home_precio">$3.990</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/nolotesteamos.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>No lo testeamos ni un poco</h3>
                <p class="home_precio">$3.590</p>                
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/littletown.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Little Town</h3>
                <p class="home_precio">$3.960</p>
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                 </div>    
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/misty.png" alt=""></a></div>   
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>      
                <div class="home__tarjeta--descripcion">
                <h3>Misty</h3>
                <p class="home_precio">$2.565,50</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
        </section>

        <section  class="home__productos"> 
            <h2>Más vendidos</h2>  
            <div class="home__container--productos">
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/twister.png" alt=""></a></div> 
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>        
                <div class="home__tarjeta--descripcion">
                <h3>Twister</h3>
                <p class="home_precio">$6.395,82</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/topgram.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Topgram</h3>
                <p class="home_precio">$1.522,52</p>                
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/descifraElCodigo.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Descifra el codigo</h3>
                <p class="home_precio">$6.990</p>
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                 </div>    
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/red.png" alt=""></a></div>  
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>       
                <div class="home__tarjeta--descripcion">
                <h3>Red7</h3>
                <p class="home_precio">$1234</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
        </section>

        <section class="home__productos"> 
            <h2>Clásicos</h2>  
            <div class="home__container--productos">
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/loteria.png" alt=""></a></div>  
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>       
                <div class="home__tarjeta--descripcion">
                <h3>Loteria Familiar</h3>
                <p class="home_precio">$1.626,24</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/ajedrez.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Ajedrez</h3>
                <p class="home_precio">$3.872,00</p>                
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/damas.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Damas</h3>
                <p class="home_precio">$1.626,24</p>
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                 </div>    
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/toma6.png" alt=""></a></div>    
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>     
                <div class="home__tarjeta--descripcion">
                <h3>Toma 6</h3>
                <p class="home_precio">$4.490</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
        </section>

        <section class="home__productos"> 
            <h2>Didácticos y educativos</h2>  
            <div class="home__container--productos">
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/primerosNumeros.png" alt=""></a></div>  
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>       
                <div class="home__tarjeta--descripcion">
                <h3>Mis primeros numeros</h3>
                <p class="home_precio">$2.611,19</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/kariba.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Kariba</h3>
                <p class="home_precio">$3.490</p>                
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/domino.png" alt=""></a></div>
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt=""></a>  
                <div class="home__tarjeta--descripcion">
                <h3>Kingdomino</h3>
                <p class="home_precio">$6.990</p>
                <button class="btn-agregarAlCarrito"> <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                 </div>    
            </article>
            <article class="home__tarjeta--producto">
                <div class="home__tarjeta--img">
                <a href="/ofertas.html"><img src="/images/tucano.png" alt=""></a></div>   
                <a href="/ofertas.html"><img class="verMas" src="/images/verMas3.png" alt="" ></a>      
                <div class="home__tarjeta--descripcion">
                <h3>Tucano</h3>
                <p class="home_precio">$3.490</p>
                <button class="btn-agregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
            </article>
        </section>

    </main>
    <div class="container-btn-wp">
        <a href="https://wa.me/987654321?" target="_blank">
            <img class="btn-wp" src="/images/iconowp.png" alt="">
        </a>
    </div>
    <footer>
        <div>
            <h3>Chancho va!</h3>
            <p>Copyright © 1999-2023</p>
            <p>Chancho va! S.R.L.</p>
            <p class="noPhone">Monroe 860, C1428 CABA</p>
        </div>
        <ul class="footerUl">
            <li class="noPhone"><a href="/about">Nosotros</a></li>
            <li class="noPhone"><a href="/help">Ayuda</a></li>
            <li><a href="/terms">Términos y condiciones</a></li>
            <li class="noOther"><a href="/contact">Contacto</a></li>
        </ul>
        <div class="noPhone">
            <a class="noPhone" href="/contact">Contacto</a></li>
            <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
            <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
            <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
        </div>
        <div class="desktop">
            <img class="qr" src="images/qr.jpg" alt="qr"> 
        </div>
    
    </footer>
</body>
</html>