<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Chancho va! - Login</title>
     <!-- FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="head">
            <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="menu">
            <div class="barra">
               <span class="linea1"></span>
               <span class="linea2"></span>
               <span class="linea3"></span>
            </div>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="lista">
            <ul>
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/envios">Envíos</a></li>
                <li><a href="/ayuda">Cómo comprar</a></li>
                <li><a href="/pago">Métodos de pago</a></li>
            </ul>
        </div>
        <div class="item">
            <div class="usuario">
                <a href="/perfil"><i class="fa-regular fa-user"></i></a>
            </div>
            <div class="carrito">
                <a href="/carrito"><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="prueba">
                   <div class="link"> 
                       <a href="/login">Ingresa</a>
                   </div>
                   <div class="signUp">
                    <a href="/perfil"><i class="fa-regular fa-user"></i></a>
                   </div>
                   <div class="imagen-oculta">
                      <div class="contenedor">
                          <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
                          <h3 class="oculto">Juegos de mesa</h3>
                      </div>
                   </div>
            </div>
        </div>
    </header>
    <main class="mainLogin">
        <div class="form-container">
            <h2>Login</h2>
            <hr>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <p class="input-text">Dirección de correo electrónico.</p>
                        <input class="input-style" type="email" name="email" placeholder="ej: veronikos@lomejor.com">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <p class="input-text">Contraseña.</p>
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="check">
                        <label class="text-remember" for="remember">Recordarme</label>
                        <input type="checkbox" name="remember" id="remember">
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-submit">Ingresar</button>
                        <span class="error-message">Credenciales inválidas</span>
                    </div>
                    <div class="resetPass">
                        <p class="text-remember"><a href="reset-password.html">¿Olvidaste tu contraseña?</a></p>
                    </div>
                    <p class="text-remember" id="noTienesCuenta">¿Aun no tienes cuenta?</p>
                    <div class="button-container">
                        <a href="register" class="btn-submit btn-acc">Crear cuenta</a>
                    </div>

                    <p class="text-remember">Vuelve a la <a href="/">Pagina principal</a></p>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <h3>Chancho va!</h3>
            <p>Copyright © 1999-2023</p>
            <p>Chancho va! S.R.L.</p>
            <p class="noPhone">Monroe 860, C1428 CABA</p>
        </div>
        <ul class="footerUl">
            <li class="noPhone"><a href="/about">Nosotros</a></li>
            <li class="noPhone"><a href="help.html">Ayuda</a></li>
            <li><a href="terms.html">Términos y condiciones</a></li>
            <li class="noOther"><a href="contact.html">Contacto</a></li>
        </ul>
        <div class="noPhone">
            <p class="noPhone">Contacto</p>
            <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
            <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
            <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
        </div>
        <div class="desktop">
            <img class="qr" src="images/qr.jpg" alt="qr"> 
        </div>

    </footer>
</body>
</html>