<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="head">
            <a href="/home"><img src="/image/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="menu">
            <div class="barra">
               <span class="linea1"></span>
               <span class="linea2"></span>
               <span class="linea3"></span>
            </div>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="lista">
            <ul>
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/envios">Envíos</a></li>
                <li><a href="/ayuda">Cómo comprar</a></li>
                <li><a href="/pago">Métodos de pago</a></li>
            </ul>
        </div>
        <div class="item">
            <div class="usuario">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="carrito">
                <a href="/carrito"><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="prueba">
                   <div class="link"> 
                       <a href="/login">Ingresa</a>
                   </div>
                   <div class="signUp">
                    <i class="fa-regular fa-user"></i>
                   </div>
                   <div class="imagen-oculta">
                      <div class="contenedor">
                          <a href="/home"><img src="/image/sinfondo.png" alt="logo"></a>
                          <h3 class="oculto">Juegos de mesa</h3>
                      </div>
                   </div>
            </div>
        </div>
    </header>
    <main class="registro">
        <div class="contenedor">
            <h2>Registrate</h2>
            <hr>
            <form action="">
                <div class="input">
                    <label for="correo">Correo electrónico</label>
                    <input class="estiloInput" type="email" name="correo" required>
                    <span class="mensajeError">Debe ingresar correo electrónico</span>
                </div>
                <div class="input">
                    <label for="contraseña">Contraseña</label>
                    <input class="estiloInput" type="password" id="contraseña" name="contraseña" required>
                    <span class="mensajeError">Debe ingresar una contraseña</span>
                </div>
                <div class="input">
                    <label for="contraseña2">Confirme contraseña</label>
                    <input class="estiloInput" type="password" id="contraseña2" name="contraseña2" required>
                    <span class="mensajeError">Las contraseñas no son identicas</span>
                </div>
                <div class="input">
                    <label for="telefono">Número de teléfono</label>
                    <input class="estiloInput" type="text" id="telefono" name="telefono" required>
                    <span class="mensajeError">Debe ingresar un numero telefónico</span>
                </div>
                <div class="terminos">
                    <div>
                        <label for="recordar">  Acepto los <a href="/terms">términos y condiciones</a> </label>
                        <input type="checkbox" name="terminos" id="recordar"> 
                    </div>
                    <span class="mensajeError">Debe aceptar los términos y condiciones</span>
                </div>
                <div class="boton">
                    <span class="mensajeError">Credenciales inválidas</span>
                    <button type="submit" class="registrar"><a href="/perfil">Continuar</a></button>
                </div>
                <span><a href="/login">Ya tengo cuenta</a></span>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <h3>Chancho va!</h3>
            <p>Copyright © 1999-2023</p>
            <p>Chancho va! S.R.L.</p>
            <p class="noPhone">Monroe 860, C1428 CABA</p>
        </div>
        <ul class="footerUl">
            <li class="noPhone"><a href="about.html">Nosotros</a></li>
            <li class="noPhone"><a href="help.html">Ayuda</a></li>
            <li><a href="terms.html">Términos y condiciones</a></li>
            <li class="noOther"><a href="contact.html">Contacto</a></li>
        </ul>
        <div class="noPhone">
            <p class="noPhone">Contacto</p>
            <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
            <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
            <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
        </div>
        <div class="desktop">
            <img class="qr" src="images/qr.jpg" alt="qr"> 
        </div>
    </footer>
    <script src="/efecto.js"></script>
</body>
</html>