@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); 
:root {
    /* Variables de colores */
    --rojo: #FF5656;
    --azul: #6A7EFC;
    --negro: #494953;
    --gris: #EDF2F6;
    
      /* Fuentes */
      --fuente:'Source Sans Pro', sans-serif;
        /* Tamaños tipográficos */
      --parrafos: 12px;
      --titulos: 24px;
      --precio: 18px;
      --descuento: 16px;
      --descripcion: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: var(--rojo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
}

header div.head {
    display: none;
}

header div.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

header div.buscador input.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 0 5px 0;
    outline: none;
    height: 25px;
    max-width: 100%;
    width: 100%;
}


header div.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

header div.item div.carrito {
    font-size: 25px;
    margin: 0 2px;
    margin-bottom: 5px;
    padding-left: 7px;
}

header div.item div.usuario {
    display: none;
}

header div.item div.carrito a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

header div.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

header div.lista{
    display: none;
}

header div.barra {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    margin: 0 15px;
    margin-bottom: 7px;
}


header div.barra span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;
    background-color: black;
    transition: 300ms;
    transform-origin: 0px 100%;
    
}

header div.barra span.activelinea1{
    transform: rotate(45deg) translate(-1px, 2px);   
}

header div.barra span.activelinea2{
    opacity: 0;
    margin-left: -50px;
}

header div.barra span.activelinea3 {
    transform: rotate(-45deg) translate(-3px, 1px);
}

header div.item div.prueba {
    display: none;
}

header div.item div.prueba.active {
    opacity: 1;
    height: 100vh;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 25px 25px 0; 
}

header div.item div.prueba div.link a{
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    margin-left: 50px;
    z-index: 10;
    text-decoration: none;
    font-size: var(--fuente);
    color: #494953;
}

header div.item div.prueba div.signUp {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    margin-left: 25px;
    z-index: 10;
}

header div.item div.prueba div.signUp i {
    text-decoration: none;
    color: black;
}

header div.item div.prueba div.imagen-oculta{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--negro);
    width: 100%;
    border-radius: 0 25px 0 0;
    height: 80px
}

header div.item div.prueba div.imagen-oculta div.contenedor {
    position: absolute;
    width: 250px;
}

header div.item div.prueba div.imagen-oculta div.contenedor img {
    display: flex;
    justify-content: start;
    width: 30%;
    margin-left: 10px;
    height: 80px
}

header div.item div.prueba div.imagen-oculta div.contenedor h3.oculto {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 28px;
    color: white;
}

 /* MEDIA HEADER */

@media (min-width: 768px) {

        header div.lista{
            display: none;
        }

        header div.item div.usuario {
            display: none;
        }

        header div.menu {
            order: 1;
        }

        header div.barra span{
            display: flex;
            order: 3;
        }

        header div.head h3 {
            display: none;
        }

        header div.head {
            display: flex;
            max-width: 100px;
            max-height: 100px;
            padding-left: 10px;
        }
    
        header div.head a img {
            height: 100px;
        }
    
        header div.item div.carrito {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 22px;
            margin-right: 75px;
        }

        header div.buscador {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
        }
    
        header div.buscador input.busqueda {
            height: 30px;
            
        } 
}


@media (min-width: 992px) {

    header {
        height: 110px;
    }

    header div.head {
        flex-direction: column;
        max-width: 150px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    header div.head a {
        margin-bottom: -15px;
    }

    header div.head h3 {
        display: flex;
    }

    header div.buscador {
        top: 30px;
    }

    header div.menu {
        display: none;
    }

    header div.item div.carrito {
        margin-top: 36px;
    }

    header div.item div.usuario {
        display: flex;
        font-size: 25px;
        margin-left: 0;
        width: 40px;
        padding-bottom: 4px;
    }

    header div.item div.usuario i {
        text-decoration: none;
        color: black;
    }

    header div.lista{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 55px;
    }

    header div.lista ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header div.lista ul li {
        text-decoration: none;
        margin: 0 25px;
        overflow: hidden;     
    }

    header div.lista ul li a {
        text-decoration: none;
        color: black;
    }

    header div.lista ul li a:hover {
        color: var(--azul);
    }
}


/* END HEADER */

body{
    font-family: 'source sans pro', sans-serif;
    min-height: 100vh;
    background: url(/image/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem 0 3rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}


a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--azul);
}

h2{
    margin-bottom: 1rem;
}

hr{
    background: var(--rojo);
    height: 3px;
    margin-bottom: 2rem;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.input-container , .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

}

.btn-submit{
    background: var(--rojo);
    border: 2px solid white;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 12px rgb(40,40,40);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    height: 2.4rem;
    margin: 0.8rem 2rem;
    text-transform: capitalize;

}

.btn-submit:hover{
    background: var(--azul);
    border: 2px solid var(--rojo);
    color: white;
    cursor: pointer;
}

.btn-acc{
    display: flex; ;
    justify-content: center;
    align-items: center;
}

.check{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

span.error-message{
    color: tomato;
    font-size: 0.8rem;
}

input.input-style{
    border: 1px solid lightgray;
    border-radius: 1.2rem;
    height: 1.8rem;
    padding: 0 0.5rem;
    box-shadow: 0 0 10px;
    max-width: 550px;
    width: 100%;
    outline: none;

}

input.input-style::placeholder{
    color: lightgray;
}

input.input-style:focus{
    border: 1px solid var(--rojo);
    box-shadow: 0 0 10px var(--rojo);
}

.text-remember{
    font-size: 0.8rem;
}

#noTienesCuenta{
    margin-top: 1.5rem;
}


/* footer */

footer{
    padding: 1rem;
    width: 100vw;
    background: var(--negro);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 0.8rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: var(--rojo);
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 15rem;
}

footer h3{
    color: var(--azul);
}

footer i{
    background: var(--negro);
}

.footerUl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.desktop{
    display:none;
}

@media screen and (max-width: 768px){

    .noPhone{
        display: none;
    }
}

@media screen and (min-width: 769px) {

    .noOther{
    display: none;
    }
    main{
    width: 100%;
    border-radius: 1rem;
    max-width: 650px;
    box-shadow: 0px 0px 12px var(--negro);
    padding: 3rem;
    backdrop-filter: blur(10px);
    }

}

@media screen and (min-width: 992px){

    .desktop{
        display: flex;
    }
}