@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(header.css);
@import url(footer.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    /*Paleta de colores*/
    --rojo: #ff5656;
    --gris: #edf2f6;
    --azul: #6a7efc;
    --negro: #494953;
    /* Fuentes */
    --fuente:'Source Sans Pro', sans-serif;  
    /* Tamaños tipográficos */
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px;
}
/* MENU IZQUIERDA */ 
main.userPerfilContainer {
    display: flex;
}

main.userPerfilContainer div.contenedorMenuUser {
    width: 30%;
}

main.userPerfilContainer div.contenedorMenuUser div.fotoPerfil {
    width: 100%;;
    padding: 15px;
    background: linear-gradient(90deg, #6a7efc ,#494953 );
    display: flex;
    justify-content: center;
}

main.userPerfilContainer div.contenedorMenuUser div.fotoPerfil img.foto {
    height: 300px;
    width: 300px;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    background: linear-gradient(90deg, #6a7efc ,#494953 );
    box-shadow: 0 0 3px;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu:hover{
    background: linear-gradient(90deg, #edf2f6 ,#ff5656 );
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu img.item {
    height: 50px;
    width: 50px;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu h4.nombreMenu {
    font-size: 25px;
    height: 100%;
    width: 100%;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu h4.nombreMenu2 {
    font-size: 25px;
    height: 100%;
    width: 100%;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu h4.nombreMenu3 {
    font-size: 25px;
    height: 100%;
    width: 100%;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu h4.nombreMenu4 {
    font-size: 25px;
    height: 100%;
    width: 100%;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu h4.nombreMenu5 {
    font-size: 25px;
    height: 100%;
    width: 100%;
}

/* FIN MENU IZQUIERDA */ 

/* BIENVENIDA USUARIO ADMIN */

main.userPerfilContainer div.contenedorDatosUser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    background: url(/images/fondo.jpg) no-repeat center;
    background-size: cover;
}

main.userPerfilContainer div.contenedorDatosUser div.contenedorBienvenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido img.animacionPoker {
    position: absolute;
    width: 150px;
    height: 150px;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido img.corazon {
    top: 10%;
    left: 10%;
    animation-name: movimientoLeft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido img.pikas {
    top: 9%;
    right: 10%;
    animation-name: movimientoRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido img.trebol {
    bottom: 10%;
    left: 10%;
    animation-name: movimientoLeft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido img.diamante {
    bottom: 10%;
    right: 10%;
    animation-name: movimientoRight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido h1.inicio {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 25px;
    background: linear-gradient(90deg, #494953, #edf2f6);
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido h1.inicio:hover {
    background: linear-gradient(90deg,#edf2f6,  #494953);
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido h1.inicio p {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.bienvenido.active {
    display: none;
}

/* FIN BIENVENIDA USUARIO ADMIN */

/* PERFIL DEL ADMIN */

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin {
    display: none;
    height: 100%;
    
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin h1 {
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 45px;
}


main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin.active {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario {
    display: flex ;
    
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form {
    display: flex;
    flex-wrap: wrap;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form div.divInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px;
    width: 50%;
    padding-bottom: 50px;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form div.divInput label.label {
    margin-bottom: 7px;
    font-size: 25px;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form div.divInput input.input {
    box-shadow: 0 0 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    max-width: 500px;
    height:40px;
    outline: none;
    padding:0 15px 0;
    width: 80%;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form div.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form div.boton button.guardar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.perfilAdmin div.formulario form div.boton button.guardar:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc);
}

/* FIN PERFIL DEL ADMIN */

/* USUARIOS REGISTRADOS */

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados {
    display: none;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 45px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados.active {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.buscador {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.buscador input.input {
    box-shadow: 0 0 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    max-width: 500px;
    height:40px;
    outline: none;
    padding:0 15px 0;
    width: 80%;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario {
    width: 200px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px;
    border-radius: 25px;
    margin: 20px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario.active {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario figure.cajaImagen {
    border-bottom: 1px solid black;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario figure.cajaImagen img.foto2 {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario article.datos {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario article.datos h2.nombre {
    font-size: 20px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.targetaUsuario article.datos p.dato {
    font-size: 15px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande{
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande.active {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.targetaUsuarioGrande {
    display: block;
    width: 350px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px;
    border-radius: 25px;
    margin: 20px;

}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.targetaUsuarioGrande figure.cajaImagenGrande {
    border-bottom: 1px solid black;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.targetaUsuarioGrande figure.cajaImagenGrande img.fotoGrande {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.targetaUsuarioGrande article.datos {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.targetaUsuarioGrande article.datos h2.nombre {
    font-size: 20px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.targetaUsuarioGrande article.datos p.dato {
    font-size: 15px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.botones div.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.botones div.boton button.borrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 30px;
    padding-bottom: 5px;
    background-color: tomato;
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.botones div.boton button.guardar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 30px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.botones div.boton button.borrar:hover {
    color: white;
    background-color: red;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.contenedorDeTargetas div.usuarioGrande div.botones div.boton button.guardar:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc);
}

/* FIN USUARIOS REGISTRADOS */

/* PREGUNTAS DE USUARIOS */

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios {
    display: none;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 45px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios.active {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas h2.nombreUsuario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #494953, #ff5656, #6a7efc);
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas article.preguntaProducto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    background: linear-gradient(180deg, #edf2f6, #494953);
    border-radius: 10px 10px 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas article.preguntaProducto img.fotoArticulo {
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas article.preguntaProducto p.datoProducto {
    font-size: 20px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas article.preguntaProducto div.botonPregunta {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas article.preguntaProducto div.botonPregunta p.verPregunta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(360deg, #6a7efc, #ff5656, #494953);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorPreguntas article.preguntaProducto div.botonPregunta p.verPregunta:hover {
    color: white;
    background: linear-gradient(360deg, #494953 ,#ff5656, #6a7efc);
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorRespuesta {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorRespuesta.active {
    width: 100%;
    position: relative;
    background:rgba(0, 0 , 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorRespuesta div.ventanaPregunta p.pregunta {
    padding: 15px;
    font-size: 18px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorRespuesta div.responder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorRespuesta div.responder input.input {
    box-shadow: 0 0 10px;
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    max-width: 500px;
    height:50px;
    outline: none;
    padding:0 15px 0;
    width: 80%;
}

main.userPerfilContainer div.contenedorDatosUser div.preguntasUsuarios div.contenedorRespuesta div.responder button.enviarRespuesta {
    box-shadow: 0 0 10px;
    border: 1px solid lightgrey;
    border-radius: 0 5px 5px 0;
    width: 100px;
    height:50px;
    outline: none;
    padding:0 15px 0;
    cursor: pointer;
    font-size: 20px;
}

/* FIN PREGUNTAS DE USUARIOS */

/* ENVIOS PENDIENTES */

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes {
    display: none;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 45px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios h2.nombreUsuarioEnvio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #494953, #ff5656, #6a7efc);
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios article.productoEnviar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    background: linear-gradient(180deg, #edf2f6, #494953);
    border-radius: 10px 10px 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios article.productoEnviar img.fotoArticuloEnviar {
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios article.productoEnviar p.datoProductoEnviar {
    font-size: 20px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios article.productoEnviar div.botonEnvio {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios article.productoEnviar div.botonEnvio p.verEnvio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(360deg, #6a7efc, #ff5656, #494953);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorEnvios article.productoEnviar div.botonEnvio p.verEnvio:hover {
    color: white;
    background: linear-gradient(360deg, #494953 ,#ff5656, #6a7efc);
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios.active {
    width: 100%;
    position: relative;
    background:rgba(0, 0 , 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio.active {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar p.enviarPaquete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(360deg, #6a7efc, #ff5656, #494953);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar p.enviarPaquete2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(360deg, #6a7efc, #ff5656, #494953);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar p.enviarPaquete3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(360deg, #6a7efc, #ff5656, #494953);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar p.enviarPaquete:hover {
    color: white;
    background: rgb(5, 163, 5);
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar p.enviarPaquete2:hover {
    color: white;
    background: rgb(5, 163, 5);
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.ventanaEnvio div.botonEnviar p.enviarPaquete3:hover {
    color: white;
    background: rgb(5, 163, 5);
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.envioCorrecto {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.envioCorrecto.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px;
}

main.userPerfilContainer div.contenedorDatosUser div.enviosPendientes div.contenedorMediosEnvios div.envioCorrecto p.enviado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: rgb(5, 163, 5);
    font-weight: bold;
    transition: all 1s ease;
    color: white;
}

/* FIN ENVIOS PENDIENTES */

/* PAQUETES DEVUELTOS */

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos {
    display: none;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 45px;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete h2.nombreUsuarioPaquete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #494953, #ff5656, #6a7efc);
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete article.paqueteDevuelto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    background: linear-gradient(180deg, #edf2f6, #494953);
    border-radius: 10px 10px 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete article.paqueteDevuelto img.fotoPaquete {
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete article.paqueteDevuelto p.datoPaqueteDevuelto {
    font-size: 20px;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete article.paqueteDevuelto div.botonVerReclamo {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete article.paqueteDevuelto div.botonVerReclamo p.verReclamo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(360deg, #6a7efc, #ff5656, #494953);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.paquetesDevueltos div.contenedorPaquete article.paqueteDevuelto div.botonVerReclamo p.verReclamo:hover {
    color: white;
    background: linear-gradient(360deg, #494953 ,#ff5656, #6a7efc);
}

/* FIN PAQUETES DEVUELTOS */

/* RECLAMOS */

main.userPerfilContainer div.contenedorDatosUser div.reclamos {
    display: none;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 45px;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos div.contenedorReclamo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos div.contenedorReclamo h2.nombreUsuarioReclamo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #494953, #ff5656, #6a7efc);
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos div.contenedorReclamo div.ventanaReclamo {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos div.contenedorReclamo div.ventanaReclamo.active {
    width: 100%;
    position: relative;
    background: rgba(0, 0 , 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

main.userPerfilContainer div.contenedorDatosUser div.reclamos div.contenedorReclamo div.ventanaReclamo p.reclamo {
    padding: 15px;
    font-size: 18px;
}

/* FIN RECLAMOS */

/* ANIMACIONES */

@keyframes movimientoLeft{
    0%{opacity: 0;}
    15%{opacity: 0.5;
        transform: translateY(-50px);}
    30%{opacity: 1;
        transform: translateY(50px);}
    45%{transform: translateY(-50px);
        transform:rotate(-180deg);}
    60%{transform: translateY(50px);
        transform:rotate(180deg);}
    75%{transform: translateY(-50px);}
    90%{transform: translateY(50px);}
    100%{transform: translateY(-50px);}
}

@keyframes movimientoRight {
    0%{opacity: 0;}
    15%{opacity: 0.5;
        transform: translateY(-50px);}
    30%{opacity: 1;
        transform: translateY(50px);}
    45%{transform: translateY(-50px);
        transform:rotate(180deg);}
    60%{transform: translateY(50px);
        transform:rotate(-180deg);}
    75%{transform: translateY(-50px);}
    90%{transform: translateY(50px);}
    100%{transform: translateY(-50px);}
}

@keyframes colores {
    0%{color: #494953;}
    25%{color: #edf2f6;}
    50%{color: #494953;}
    75%{color: #edf2f6;}
    100%{color: #494953;}
}

/* FIN ANIMACIONES */