@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  /* Variables colores */
  --rojo: #FF5656;
  --azul: #6A7EFC;
  --negro: #494953;
  --gris: #EDF2F6;

  /* Fuente */

  --fuente: 'Source Sans Pro', sans-serif;

  /* Tamaños tipográficos */
  --parrafos: 12px;
  --titulos: 24px;
  --precio: 18px;
  --descuento: 16px;
  --descripcion: 16px;
}
