/* variables */

:root{
    --rojo: #ff5656;
    --negro: #494953;
    --azul: #6A7EFC;
}

/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

/* body{
    font-family: 'source sans pro', sans-serif;
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 15px 10px;
} */

body {
    font-family: 'source sans pro', sans-serif;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

main section {
    width: 100%;
}

body main section div {
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.precio {
    font-size: 4rem;
}

.titulo-producto {
    text-align: center;
    font-size: 3rem;
}

main section div.imagen_descripcion-producto {
    width: 100%;
}

main section div.imagen_descripcion-producto img {
    width: 100%;
    padding: 0 10px;
}

main section div.carrito {
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 2rem 0;
}

button.btn-agregarAlCarrito {
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color:var(--rojo);  
    opacity: 0.8;
    padding: 3px;  
    width: 300px;
    height: 80px;
    font-size: 1.8rem;
    box-shadow: 5px;
    margin: 0 auto;
    display: block;
    transition: all 1s;
}

button.btn-agregarAlCarrito:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc); 
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
    width: 100%;
}

img {
    padding: 10px;
    width: 100%;
}

.medios {
    padding-top: 2rem;
    font-size: 2rem;
}

.ofertas, .destacado {
    height: 100%;
    margin: 1rem;
    border-top: solid 1px black;
    padding: 1rem;
}

.articulo h3 {
    justify-content: center;
    text-align: center;
}

section.articulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

section.articulos article.articulo {
    width: 100%;
    max-width: 320px;
    flex-direction: row;
    justify-content: space-evenly;
}

section.articulos article.articulo div.imagen-producto img {
    width: 100%;
}

/* footer */

footer{
    padding: 1rem;
    width: 100vw;
    background: var(--negro);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 0.8rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: var(--rojo);
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 15rem;
}

footer h3{
    color: var(--azul);
}

footer i{
    background: var(--negro);
}

.footerUl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.desktop{
    display:none;
}

@media screen and (max-width: 768px){

    .noPhone{
        display: none;
    }
}

@media screen and (min-width: 769px) {

    .noOther{
    display: none;
    }
}

@media screen and (min-width: 992px){

    .desktop{
        display: flex;
    }
}