@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); 
@import url(header.css);
@import url(footer.css);

:root {
    /* Variables de colores */
    --rojo: #FF5656;
    --azul: #6A7EFC;
    --negro: #494953;
    --gris: #edf2f6;
    
      /* Fuentes */
      --fuente:'Source Sans Pro', sans-serif;  /* Tamaños tipográficos */
      --parrafos: 12px;
      --titulos: 24px;
      --precio: 18px;
      --descuento: 16px;
      --descripcion: 16px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuente);
}

main.contenedorDetalles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/images/fondo.jpg) repeat center;
    background-size: contain;
    width: 100%;
}

main.contenedorDetalles div.contenedorTarjetaDetalle {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.contenedorDetalles div.contenedorTarjetaDetalle div.nombreProductoDetalle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.contenedorDetalles div.contenedorTarjetaDetalle div.nombreProductoDetalle h2.nombreProducto {
    margin: 15px 0px;
    font-size: 27px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px ;
    max-width: 1250px;
    backdrop-filter: blur(10px);
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.imagenDescripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.imagenDescripcion img.imagenProducto {
    width: 270px;
    height: 270px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.imagenDescripcion p.productoDescripcion {
    margin: 15px;
    font-size: 20px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles h2.nombreProducto {
    font-size: 40px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.productosPrecioDescuento {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.productosPrecioDescuento p.productosPrecioDescuentoTachado {
    color: tomato;
    text-decoration: line-through;
    margin: 5px 15px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.productosPrecioDescuento p.descuento {
    color: #00a650;
    margin: 5px 15px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles p.productoPrecioFinal {
    font-size: 40px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.tarjetaInformacion {
    color: #00a650;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.tarjetaInformacion i {
    margin-right: 5px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles a.comprar div.botonComprar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 15px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
    margin-top: 10px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles a.comprar div.botonComprar {
    text-decoration: none;
    color: black;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles a.comprar div.botonComprar:hover {
    background: linear-gradient(93deg, #ff5656, #6a7efc);
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles a.comprar div.botonComprar:hover  {
    color: white;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 15px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin:  15px 5px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar a:hover {
    color: white;
    background: linear-gradient(93deg , #ff5656 ,#6a7efc);
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar form.formularioEliminar button.eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 15px;
    padding-bottom: 5px;
    background: tomato;
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
    margin: 15px 5px;
}

main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar form.formularioEliminar button.eliminar:hover {
    background: red;
    color: white;
}

main.contenedorDetalles div.tituloProductosRelacionados {
    text-align: center;
    padding: 5px;  
    border-top: black solid 2px 0px;
    width: 100%;
    font-size: 24px;
    background: linear-gradient(360deg, #494953, #FF5656, #6A7EFC);
    margin: 2px 0px; 
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 15px;
}

main.contenedorDetalles div.tituloProductosRelacionados h2.nombreTitulo {
    font-size: 26px;
}

main.contenedorDetalles section.contenedorArticuloRelacionado {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados{
    width: 290px;
    height: 400px;
    border: 1px solid lightgray;
    box-shadow: 0px 5px 5px;
    border-radius: 10px;
    margin: 10px;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.imagenProductoRelacionado {
    width: 100%;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.imagenProductoRelacionado a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.imagenProductoRelacionado a img.imagenRelacionada {
    width: 250px;
    height: 250px;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.verMasProductoRelacionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.verMasProductoRelacionado h3 {
    margin: 25px 0;
    font-size: 16px;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.verMasProductoRelacionado a {
    margin: 10px 0;
}

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.verMasProductoRelacionado a button.botonVerMas {
    width: 200px;
    height: 35px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 15px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
} 

main.contenedorDetalles section.contenedorArticuloRelacionado div.contenedorArticulosRelacionados article.articuloRelacionado div.verMasProductoRelacionado a button.botonVerMas:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc);
}

@media (min-width: 768px) {
    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto {
        flex-direction: row;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.imagenDescripcion img.imagenProducto{
        width: 330px;
        height: 330px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 1039px) {
    main.contenedorDetalles section.contenedorArticuloRelacionado {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles {
        margin-left: 50px;
        margin-right: 100px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto {
        height: 600px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.imagenDescripcion img.imagenProducto{
        width: 430px;
        height: 430px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles h2.nombreProducto {
        margin: 10px 0;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.productosPrecioDescuento {
        margin: 10px 0;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles a.comprar div.botonComprar {
        width: 300px;
        height: 45px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles a.comprar div.botonComprar  {
        font-size: 25px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar a {
        width: 150px;
        height: 45px;
        font-size: 18px;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar {
        margin: 20px 0;
    }

    main.contenedorDetalles div.contenedorTarjetaDetalle article.detallesProducto div.productoDetalles div.botonEditarEliminar form.formularioEliminar button.eliminar {
        width: 150px;
        height: 45px;
        font-size: 18px;
    }
}

a{
    text-decoration: none;
}


@keyframes colores {
    0%{color: #494953;}
    25%{color: #edf2f6;}
    50%{color: #494953;}
    75%{color: #edf2f6;}
    100%{color: #494953;}
}