@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(header.css);
@import url(footer.css);
@import url(banner.css);
@import url(home.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    /*Paleta de colores*/
    --rojo: #ff5656;
    --gris: #edf2f6;
    --azul: #6a7efc;
    --negro: #494953;
    /* Fuentes */
    --fuente:'Source Sans Pro', sans-serif;  
    /* Tamaños tipográficos */
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px;
}
