/* HEADER */
header.contenedor {
    background-color: var(--rojo);
    height: 80px;
}

header.contenedor div.contenedorHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vw;
}

header.contenedor div.contenedorHeader div.menu div.barra{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 7px;
}

header.contenedor div.contenedorHeader div.menu div.barra span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;
    background-color: black;
    transition: 300ms;
    transform-origin: 0px 100%;
}

header.contenedor div.contenedorHeader div.menu div.barra span.activelinea1{
    transform: rotate(45deg) translate(-1px, 2px);   
}

header.contenedor div.contenedorHeader div.menu div.barra span.activelinea2{
    opacity: 0;
    margin-left: -50px;
}

header.contenedor div.contenedorHeader div.menu div.barra span.activelinea3 {
    transform: rotate(-45deg) translate(-3px, 1px);
}

header.contenedor div.contenedorHeader div.contenedorOculto {
    position: absolute;
    top: 80px;
    display: none;
    background: linear-gradient(270deg, #6a7efc, #ff5656);
    width: 100%;
    border-radius: 0 0 25px 25px;
}

header.contenedor div.contenedorHeader div.contenedorOculto.active{
    display: block;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.user {
    display: flex;
    font-size: 20px;
    padding: 15px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.user i{
    padding-right: 5px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.carrito {
    display: flex;
    font-size: 20px;
    padding: 15px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.carrito i{
    padding-right: 5px;
    margin-left: -3px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.pagos {
    display: flex;
    font-size: 20px;
    padding: 15px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.pagos i{
    padding-right: 5px;
    margin-left: 5px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.pagos h5 {
    padding-left: 3px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.ofertas {
    display: flex;
    font-size: 20px;
    padding: 15px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.categorias {
    display: flex;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}


header.contenedor div.contenedorHeader div.contenedorOculto div.categorias div.flecha i{
    padding-left: 10px;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.categoriaProductos{
    font-size: 20px;
    padding: 5px 0px 0px 55px;
    display: none;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.categoriaProductos.active{
    display: block;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.categoriaProductos h5{
    padding-bottom: 5px;
}

header.contenedor div.contenedorHeader div.logo a img {
    width: 100px;
    height: 100px;
    max-height: 150px;
    max-width: 150px;
}

header.contenedor div.contenedorHeader div.logo h3{
    display: none;
}

header.contenedor div.contenedorHeader div.buscador div.barraBuscadora{
    display: none;
    position: absolute;
    top: 80px;
    left: 50%;
    width: 320px;
    margin-left: -160px;
}

header.contenedor div.contenedorHeader div.buscador div.barraBuscadora.active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    border-radius: 0 0 25px 25px;
}

header.contenedor div.contenedorHeader div.buscador div.barraBuscadora input.busqueda{
    box-shadow: 0 0 5px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    width: 75%;
    height:30px;
    outline: none;
    padding:0 15px 0;
}

header.contenedor div.contenedorHeader div.buscador div.iconoBuscador{
    font-size: 30px;
    margin-right:20px;
    cursor: pointer;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.user h5 a{
    text-decoration: none;
    color: black;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.carrito h5 a {
    text-decoration: none;
    color: black;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.pagos h5 a {
    text-decoration: none;
    color: black;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.ofertas h5 a {
    text-decoration: none;
    color: black;
}

header.contenedor div.contenedorHeader div.contenedorOculto div.categoriaProductos h5 a {
    text-decoration: none;
    color: black;
}

/* MEDIA HEADER */

@media (min-width: 768px) {
    header.contenedor div.contenedorHeader div.buscador div.barraBuscadora.active {
        border-radius: 0 0 25px 25px;
        width: 500px;
        margin-left: -250px;
    }

    header.contenedor div.contenedorHeader div.contenedorOculto {
        width: 50%;
    }
}


@media (min-width: 1039px) {

    header.contenedor {
        height: 110px;
    }

    header.contenedor div.contenedorHeader div.logo {
        display: flex;
        flex-direction: column;
        max-width: 150px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    header.contenedor div.contenedorHeader div.logo a {
        margin-bottom: -15px;
    }

    header.contenedor div.contenedorHeader div.logo a img {
        height: 100px;
    }

    header.contenedor div.contenedorHeader div.logo h3 {
        display: flex;
    }

    header.contenedor div.contenedorHeader div.buscador div.iconoBuscador {
        display: none;
    }

    header.contenedor div.contenedorHeader div.buscador div.barraBuscadora {
        display: block;
        top: 30px;
        width: 500px;
        left: 48%;
    }

    header.contenedor div.contenedorHeader div.menu {
        display: none;
    }

    header.contenedor div.contenedorHeader div.contenedorOculto{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 55px;
        left: 25%;
        right: 25%;
        background:none;
    }

    header.contenedor div.contenedorHeader div.contenedorOculto div.user {
        position: absolute;
        top: -30px;
        right: -310px;
        font-size: var(--titulos);
    }

    header.contenedor div.contenedorHeader div.contenedorOculto div.carrito {
        position: absolute;
        top: -30px;
        right: -195px;
        font-size: var(--titulos);
    }

    header.contenedor div.contenedorHeader div.contenedorOculto div.categorias {
        margin-top: 6px;
    }

    header.contenedor div.contenedorHeader div.contenedorOculto div.ofertas {
        margin-top: 2px;
    }

    header.contenedor div.contenedorHeader div.contenedorOculto div.categoriaProductos.active{
        padding: 0;
        position: absolute;
        display: flex;
        top: 50px;
        left: 50%;
        background-color: var(--rojo);
        height: 35px;
        border-radius: 0 0 25px 25px;
    }

    header.contenedor div.contenedorHeader div.contenedorOculto div.categoriaProductos.active h5{
        padding: 0 20px;

    }
}


/* END HEADER */