@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); 
:root {
    /* Variables de colores */
    --rojo: #FF5656;
    --azul: #6A7EFC;
    --negro: #494953;
    --gris: #edf2f6;
    
      /* Fuentes */
      --fuente:'Source Sans Pro', sans-serif;  /* Tamaños tipográficos */
      --parrafos: 12px;
      --titulos: 24px;
      --precio: 18px;
      --descuento: 16px;
      --descripcion: 16px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuente);
}

body {
    width: 100vw;
}
/*HEADER*/

header {
    background-color: var(--rojo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

header div.buscador input.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 0 5px 0;
    outline: none;
    height: 25px;
    max-width: 100%;
    width: 100%;
}

header div.imagen {
    display: flex;
    align-items: center;
    padding-left: 5px;
    max-width: 100px;

    max-width: 22vw;
}

header div.imagen a img {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 80px;
}

header h3 {
    display: none;
}

header div.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0;
}


header div.item div.carrito {
    padding-left: 15px;
}

header div.item div.burger-menu {
    padding-left: 15px;
}

main {
    width: 100%;
    margin: 0 auto;
}

a {
    display: inline;
}

/* CARRUSEL*/

.home__carrusel {
    width: 100vw;
}
.home__carrusel img {
   width: 100vw;
}

/* MENU TEMATICO*/

.home__menu--tematico {
    display: flex;    
    flex-direction: column;
    align-items: center; 
    } 

.home__menu--tematico img {
    width: 90vw;
}
.home__menu--tematico img:hover {
    box-shadow: 0 0 5px grey;
    border-radius: 20px;
}


    /*PRODUCTOS*/
.home__productos h2 {
    text-align: center;
    padding: 5px;  
    border-top: black solid 2px 0px;
    width: 100%;
    font-size: 24px;
    background-color: var(--azul);
    margin: 2px 0px; 
    color: #fff;
    }
    

section div.home__container--productos {
    width: 100%;
    justify-content: center;
   
}

section div.home__container--productos img {
   width: 150px;
    height: 150px;
    padding: 0%;

}


section div.home__container--productos article.home__tarjeta--producto {
    display: flex;
    flex-direction: row;  
    font-size:var(--descripcion);
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img {
   padding-left: 5px;
   margin-bottom: 2px;   
   padding-right: 3px;
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion {
    text-align: center;
    margin: auto; 
    padding: 3px; 
    justify-content: space-around;
    
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion h3 {
    font-size: 18px;
    margin: 4px;
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion p.home_precio {
    font-size: var(--precio);
}

.home__tarjeta--descripcion .btn-agregarAlCarrito {
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color:var(--rojo);  
    opacity: 0.8;
    padding: 3px;  
    width: 145px;
    height: 50px;
    font-size: var(--descripcion);
    box-shadow: 5px;
    }

button.btn-agregarAlCarrito:hover{
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc); 
}

.verMas {
    position: absolute;
    left: 0px;
    color: #ff5656;
    width: 100px;
    padding: 0px;
    margin: 0px;
}

img.verMas {
    width: 100px !important ;
    height: 50px !important ;
}

/* BOTON WHATSAPP*/

.container-btn-wp{
    background-color: #deeadd;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius:50%;
    bottom: 10px;
    padding: 15px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-btn-wp:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-wp{
    width: 30px !important;
    transition: ease 1s;
    
}



@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

/* fIN MAIN */

/*footer css*/
 
footer{
    padding: 0;
    width: 100vw;
    height: 7rem;
    background: var(--negro);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
footer p{
    font-size: 0.8rem;
}
 
footer a{
    color: white;
}
 
footer a:hover{
    color: var(--rojo);
}
 
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 15rem;
}
 
footer h3{
    color: var(--azul);
}
 
footer i{
    background: var(--negro);
}
 
.footerUl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 
.desktop{
    display:none;
}
 
@media screen and (max-width: 768px){
 
    .noPhone{
        display: none;
    }
}
 
@media screen and (min-width: 769px) {
 
    .noOther{
        display: none;
    }
 
}
 
@media screen and (min-width: 992px){
 
    .desktop{
        display: flex;
    }
}

/* TABLET */
@media (min-width: 803px) {
/*PRODUCTOS*/

section div.home__container--productos {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-evenly ;      

}
.home__productos h2 {
    text-align: center; 
    border-top: black solid 1px;
    font-size: 30px;
    background-color: var(--azul) ;
    margin-top: 20px;
    margin-bottom: 20px;
    }

section div.home__container--productos article.home__tarjeta--producto  {
    display: inline-block;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    height: 370px;
    justify-content: space-evenly;
}

section div.home__container--productos article.home__tarjeta--producto:hover{
    border: 1px solid grey;
    box-shadow: 0 0 5px;
    border-radius: 15px;
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: flex-start;      
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img img {
    margin-top: 5px;
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion {
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

section div.home__container--productos article.home__tarjeta--producto p.home_precio {
    font-size: 25px;    
    padding: 8px;
}
.home__tarjeta--descripcion .btn-agregarAlCarrito {
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color:var(--rojo);  
    opacity: 0.8;
    padding: 5px;  
    width: 200px;
    height: 40px;
    font-size: var(--descripcion);
    box-shadow: 5px;
    margin-bottom: 5px;
    }


button.btn-agregarAlCarrito:hover {
color: white;
background: linear-gradient(93deg,#ff5656, #6a7efc)
}
/*CARRUSEL*/

.home__carrusel img {
    width: 100vw;
    height: 250px;
 }

 /*MENU TEMATICO*/

.home__menu--tematico {
    display: flex; 
    flex-direction: row;   
   justify-content: space-evenly;
}

.home__menu--tematico img {
    width: 90%;
    height: 370px;
}

.home__menu--tematico img:hover {
    box-shadow: 0 0 5px grey;
    border-radius: 20px;
}

/*PRODUCTOS*/

section div.home__container--productos {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.home__productos h2 {
    text-align: center; 
    border-top: black solid 1px;
    font-size: 30px;
    background-color: var(--azul) ;
    margin-top: 20px;
    margin-bottom: 20px;
}

section div.home__container--productos article.home__tarjeta--producto  {
    display: inline-block;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    height: 370px;
    justify-content: space-evenly;
    position: relative;
    
}

section div.home__container--productos article.home__tarjeta--producto:hover{
    border: 1px solid grey;
    box-shadow: 0 0 5px;
    border-radius: 15px;
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: flex-start;     
      
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img img {
    margin-top: 5px;
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
}

.verMas {
    position: absolute;
    color: #ff5656;
    top: 0;
    right: 0;
    width: 100px;
    padding: 0px;
    margin: 0px;
}

img .verMas {
    width: 100px;
    height: 50px;
}

section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion {
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

section div.home__container--productos article.home__tarjeta--producto p.home_precio {
    font-size: 25px;    
    padding: 8px;
}
.home__tarjeta--descripcion .btn-agregarAlCarrito {
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color:var(--rojo);  
    opacity: 0.8;
    padding: 5px;  
    width: 200px;
    height: 40px;
    font-size: var(--descripcion);
    box-shadow: 5px;
    margin-bottom: 5px;
    }


button.btn-agregarAlCarrito:hover {
color: white;
background: linear-gradient(93deg,#ff5656, #6a7efc)
}

/*BOTON WHATSAPP*/

.container-btn-wp{
    background-color: #deeadd;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 15px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-btn-wp:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-wp{
    width: 80px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }

}

/* DESKTOP*/

@media (min-width: 992px) {
    .home__carrusel img {
        width: 100vw;
        height: 250px;
     }
    
     /*MENU TEMATICO*/

    .home__menu--tematico {
        display: flex; 
        flex-direction: row;   
       justify-content: space-evenly;
    }

    .home__menu--tematico img {
        width: 90%;
        height: 370px;
    }

    .home__menu--tematico img:hover {
        box-shadow: 0 0 5px grey;
        border-radius: 20px;
    }

    /*PRODUCTOS*/

    section div.home__container--productos {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: space-evenly ;      

    }
    .home__productos h2 {
        text-align: center; 
        border-top: black solid 1px;
        font-size: 30px;
        background-color: var(--azul) ;
        margin-top: 20px;
        margin-bottom: 20px;
        }

    section div.home__container--productos article.home__tarjeta--producto  {
        display: inline-block;
        justify-content: center;
        margin: 10px;
        padding: 5px;
        height: 370px;
        justify-content: space-evenly;
    }

    section div.home__container--productos article.home__tarjeta--producto:hover{
        border: 1px solid grey;
        box-shadow: 0 0 5px;
        border-radius: 15px;
    }

    section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: flex-start;   

        
    }

    section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img img {
        margin-top: 5px;
        width: 230px;
        height: 230px;
        align-items: center;
        justify-content: center;
    }

    section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion {
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        margin: 10px;
    
    }
    
    section div.home__container--productos article.home__tarjeta--producto p.home_precio {
        font-size: 25px;    
        padding: 8px;
    }
    .home__tarjeta--descripcion .btn-agregarAlCarrito {
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        background-color:var(--rojo);  
        opacity: 0.8;
        padding: 5px;  
        width: 200px;
        height: 40px;
        font-size: var(--descripcion);
        box-shadow: 5px;
        margin-bottom: 5px;
        }
    

    button.btn-agregarAlCarrito:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc)
    }
    /*CARRUSEL*/

    .home__carrusel img {
        width: 100vw;
        height: 250px;
     }
    
     /*MENU TEMATICO*/

    .home__menu--tematico {
        display: flex; 
        flex-direction: row;   
       justify-content: space-evenly;
    }

    .home__menu--tematico img {
        width: 90%;
        height: 370px;
    }

    .home__menu--tematico img:hover {
        box-shadow: 0 0 5px grey;
        border-radius: 20px;
    }

    /*PRODUCTOS*/

    section div.home__container--productos {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: space-evenly; 
    }

    .home__productos h2 {
        text-align: center; 
        border-top: black solid 1px;
        font-size: 30px;
        background-color: var(--azul) ;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    section div.home__container--productos article.home__tarjeta--producto  {
        display: inline-block;
        justify-content: center;
        margin: 10px;
        padding: 5px;
        height: 370px;
        justify-content: space-evenly;
        position: relative;
        
    }

    section div.home__container--productos article.home__tarjeta--producto:hover{
        border: 1px solid grey;
        box-shadow: 0 0 5px;
        border-radius: 15px;
    }

    section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: flex-start;     
          
    }

    section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--img img {
        margin-top: 5px;
        width: 230px;
        height: 230px;
        align-items: center;
        justify-content: center;
    }
    
    
    .verMas {
        position: absolute;
        color: #ff5656;
        top: 0;
        right: 0;
        width: 100px;
        padding: 0px;
        margin: 0px;
    }

    img .verMas {
        width: 100px;
        height: 50px;
    }

    section div.home__container--productos article.home__tarjeta--producto div.home__tarjeta--descripcion {
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        margin: 10px;
    
    }
    
    section div.home__container--productos article.home__tarjeta--producto p.home_precio {
        font-size: 25px;    
        padding: 8px;
    }
    .home__tarjeta--descripcion .btn-agregarAlCarrito {
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        background-color:var(--rojo);  
        opacity: 0.8;
        padding: 5px;  
        width: 200px;
        height: 40px;
        font-size: var(--descripcion);
        box-shadow: 5px;
        margin-bottom: 5px;
        }
    

    button.btn-agregarAlCarrito:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc)
    }

    /* BOTON WHATSAPP*/

.container-btn-wp{
    background-color: #deeadd;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-btn-wp:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-wp{
    width: 80px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
}
