@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); 
:root {
    /* Variables de colores */
    --rojo: #FF5656;
    --azul: #6A7EFC;
    --negro: #494953;
    --gris: #edf2f6;
    
      /* Fuentes */
      --fuente:'Source Sans Pro', sans-serif;  /* Tamaños tipográficos */
      --parrafos: 12px;
      --titulos: 24px;
      --precio: 18px;
      --descuento: 16px;
      --descripcion: 16px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuente);
}

body {
    width: 100vw;
}

main {
    width: 100%;
    margin: 0 auto;
}

a {
    display: inline;
}
.home__carrusel {
    width: 100vw;
}
.home__carrusel img {
   width: 100vw;
}

.home__menu--tematico {
    display: flex;    
    flex-direction: column;
    align-items: center; 
    } 

.home__menu--tematico img {
    width: 90vw;
}

h2 {
    text-align: center; 
     padding: 10px;  
    border-top: black solid 2px;
    width: 100%;
    font-size: var(--titulos);
    background-color: var(--azul)    
    }

section div.home__container--ofertas {
    width: 100%;
    justify-content: center;
   
}

section div.home__container--ofertas img {
    width: 150px;
    height: 150px;
    padding: 0%;

}

section div.home__container--ofertas article.home__tarjeta--producto {
    display: flex;
    flex-direction: row;  
    font-size:var(--descripcion);
}

section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--img {
   padding: 0px;
   margin-bottom: 2px;   
}

section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--descripcion {
   /* display: flex;
    flex-direction: column;*/
    text-align: center;
    margin: auto; 
    padding: 3px; 
    justify-content: space-evenly;
}

section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--descripcion p {
    font-size: var(--precio);
    margin: 4px;
}
 



p {
    font-size: var(--parrafos);
}

 button {
    border-radius: 20px;
    text-align: center;
    background-color:var(--rojo);  
    padding: 3px;  
    width: 150px;
    height: 40px;
    font-size: var(--descripcion);
    box-shadow: 5px;  
    
}

/* END MAIN */

/*footer css*/
 
/*footer{
    padding: 0;
    width: 100vw;
    height: 7rem;
    background: var(--negro);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
footer p{
    font-size: 0.8rem;
}
 
footer a{
    color: white;
}
 
footer a:hover{
    color: var(--rojo);
}
 
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 15rem;
}
 
footer h3{
    color: var(--azul);
}
 
footer i{
    background: var(--negro);
}
 
.footerUl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 
.desktop{
    display:none;
}
 
@media screen and (max-width: 768px){
 
    .noPhone{
        display: none;
    }
}
 */
@media screen and (min-width: 769px) {
 
    .noOther{
        display: none;
    }
 
}
 
@media screen and (min-width: 992px){
 
    .desktop{
        display: flex;
    }
}


@media (min-width: 768px) {  .home__menu--tematico {
    display: flex; 
    flex-direction: row;   
    align-items: center;

}

.home__menu--tematico img {
    width: 100%;
}

section div.home__container--ofertas {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-between; 
    

}
section div.home__container--ofertas article.home__tarjeta--producto  {
    display: inline-block;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}


section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--img {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    justify-content: flex-start;

    
}

section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--img img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    
}

section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--descripcion {
    margin: 0;
    display: inline-block;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-end;

}

.home__tarjeta p {

    text-align: center;
    margin: 5px;
}

.home__tarjeta button {
    width: 182px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color:var(--rojo);    
    
}

}



@media (min-width: 1200px) {

    .home__carrusel img {
        width: 100vw;
        height: 250px;
     }
    
    .home__menu--tematico {
        display: flex; 
        flex-direction: row;   
       justify-content: space-evenly;
    }

    .home__menu--tematico img {
        width: 90%;
        height: 370px;
    }

    section div.home__container--ofertas {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: space-evenly ;      

    }

    h2 {
        text-align: center; 
        border-top: black solid 1px;
        font-size: var(--titulos);
        background-color: var(--azul) ;
        margin-top: 15px;
        margin-bottom: 15px;
        }

    section div.home__container--ofertas article.home__tarjeta--producto  {
        display: inline-block;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    

    section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--img {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
        justify-content: flex-start;
       

        
    }

    section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--img img {
        margin-top: 10px;
        width: 230px;
        height: 230px;
        
    }

    section div.home__container--ofertas article.home__tarjeta--producto div.home__tarjeta--descripcion {
        margin: 20px;
        display: inline-block;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: flex-end;
    
    }
    
    .home__tarjeta p {

        text-align: center;
        margin: 5px;
    }
    
    .home__tarjeta button {
        width: 182px;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        background-color:var(--rojo);    
        
    }
   
}
