@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); 
:root {
    /* Variables de colores */
    --rojo: #FF5656;
    --azul: #6A7EFC;
    --negro: #494953;
    --gris: #EDF2F6;
    
      /* Fuentes */
      --fuente:'Source Sans Pro', sans-serif;  /* Tamaños tipográficos */
      --parrafos: 12px;
      --titulos: 24px;
      --precio: 18px;
      --descuento: 16px;
      --descripcion: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'source sans pro', sans-serif;
    min-height: 100vh;
    background-image: url('../images/fondo.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem 0 3rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px var(--negro);
    padding: 3rem;
    width: 100%;
    max-width: 400px;
}


a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--azul);
}

h2{
    margin-bottom: 1rem;
}

hr{
    background: var(--rojo);
    height: 3px;
    margin-bottom: 2rem;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.input-container , .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

}

.btn-submit{
    background: var(--rojo);
    border: 2px solid white;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 12px rgb(40,40,40);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    height: 2.4rem;
    margin: 0.8rem 2rem;
    text-transform: capitalize;

}

.btn-submit:hover{
    background: var(--azul);
    border: 2px solid var(--rojo);
    color: white;
    cursor: pointer;
}

.check{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

span.error-message{
    color: tomato;
    font-size: 0.8rem;
}

input.input-style{
    border: 1px solid gray;
    border-radius: 0.5rem;
    height: 1.8rem;
    padding: 0 0.5rem;
}

input.input-style::placeholder{
    color: lightgray;
}

input.input-style:focus{
    border: 1px solid var(--rojo);
    box-shadow: 0 0 6px var(--rojo);
}

.text-remember{
    font-size: 0.8rem;
}

#noTienesCuenta{
    margin-top: 1.5rem;
}


/* footer */

footer{
    padding: 0;
    width: 100vw;
    height: 7rem;
    background: var(--negro);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 0.8rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: var(--rojo);
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 15rem;
}

footer h3{
    color: var(--azul);
}

footer i{
    background: var(--negro);
}

.footerUl{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.desktop{
    display:none;
}

@media screen and (max-width: 768px){

    .noPhone{
        display: none;
    }
}

@media screen and (min-width: 769px) {

    .noOther{
        display: none;
    }

}

@media screen and (min-width: 992px){

    .desktop{
        display: flex;
    }
}