/* variables */

:root{
    --primario: #ff5656;
    --secundario: #494953;
    --terciario: #6A7EFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'source sans pro', sans-serif;
    min-height: 100vh;
    background-image: url('../images/fondo.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    border-radius: 1rem;
    box-shadow: 0px 0px 12px var(--secundario);
    padding: 3rem;
    width: 100%;
    max-width: 400px;
}

a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--terciario);
}

h2{
    margin-bottom: 1rem;
}

hr{
    background: var(--primario);
    height: 3px;
    margin-bottom: 2rem;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.input-container , .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

}

.btn-submit{
    background: var(--primario);
    border: 2px solid white;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 12px rgb(40,40,40);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    height: 2.4rem;
    margin: 0.8rem 2rem;
    text-transform: capitalize;

}

span.error-message{
    color: tomato;
    font-size: 0.8rem;
}

input.input-style{
    border: 1px solid gray;
    border-radius: 0.5rem;
    height: 1.8rem;
    padding: 0 0.5rem;
}

input.input-style::placeholder{
    color: lightgray;
}

input.input-style:focus{
    border: 1px solid var(--primario);
    box-shadow: 0 0 6px var(--primario);
}

.text-remember{
    font-size: 0.8rem;
}

#noTienesCuenta{
    margin-top: 1.5rem;
}

/* footer */

footer{
    padding: 0;
    width: 100vw;
    height: 5rem;
    background: var(--secundario);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer p{
    font-size: 0.8rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: var(--primario);
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 15rem;
}

footer h3{
    color: var(--terciario);
}

