@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(header.css);
@import url(footer.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    /*Paleta de colores*/
    --rojo: #ff5656;
    --gris: #edf2f6;
    --azul: #6a7efc;
    --negro: #494953;
    /* Fuentes */
    --fuente:'Source Sans Pro', sans-serif;  
    /* Tamaños tipográficos */
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px;
}

/* MAIN */

.is-valid {
    color: rgb(19, 151, 147);
    padding: 5px;
    font-size: small;
   
}
.is-invalid {
    color: red;
    padding: 3px;
    font-size: small;
    
}

main.registro {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: url(/images/fondo.jpg) no-repeat center top;
    background-size: cover;
    width: 100%;
}



hr {
    height: 3px;
    background: linear-gradient(#ff5656, #edf2f6);
    margin-bottom: 2rem;

}

main.registro div.contenedor{
    width: 80%;
}

main.registro div.contenedor h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

main.registro div.contenedor form.formularioRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario {
    width: 100%;
}

main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario div.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px;
    width: 100%;
}

main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario div.input label {
    margin-bottom: 7px;
}

main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario div.input input.estiloInput {
    box-shadow: 0 0 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    height:30px;
    outline: none;
    padding:0 15px 0;
}

main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario div.input span.mensajeError {
    color: red;
    padding: 5px;
    font-size: small;
}

main.registro div.contenedor div.contenedorForm form.formularioRegistro div.imagenUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    color: var(--rojo);
    padding: 0 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 2rem;
    text-align: center;
}

main.registro div.contenedor div.contenedorForm form.formularioRegistro div.imagenUsuario input.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.terminos {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.terminos div{
    font-size: 0.8rem;
    padding-bottom: 0.5rem;;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.terminos label{
    padding: 0 5px 0;
    font-size: 12px;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.terminos label a{
    color: blue;
    text-decoration: none;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.terminos span.mensajeError {
    color: red;
    font-size: 12px;
    margin-bottom: 1rem;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL div.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.boton button{
    width: 170px;
    height: 50px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.boton button.registrar:hover{
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc);
}


main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.boton span.mensajeError {
    color: red;
    font-size: small;
    padding: 5px;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones span.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 20px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones span.login:hover {
    background: linear-gradient(93deg,#ff5656, #6a7efc);
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones span a{
    text-decoration: none;
    color: black;
    transition: all 1s ease;
}

main.registro div.contenedor form.formularioRegistro div.contenedorBotones span.login:hover a{
    color: white;
}

/* MEDIA MAIN */

@media (min-width: 1040px) {
    main.registro {
        align-items: center;
        background: url(/images/fondo.jpg) no-repeat center ;
        background-size: cover;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario div.input label {
        font-size: 20px;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorLineasFormulario div.input input.estiloInput {
        max-width: 450px;
        height: 40px;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL {
        width: 100%;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL span.mensajeError{
        color: red;
        font-size: small;
        padding: 5px;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL div.boton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL div.boton button {
        margin: 0 30px;
    }

    main.registro div.contenedor form.formularioRegistro div.contenedorBotones div.botonRL div.boton span {
        margin: 0 30px;
    }
}


/* END MAIN */
