@import url(header.css);
@import url(footer.css);
@import url(login.css);
@import url(register.css);
@import url(home.css);
@import url(slideshow.css);


@media screen and (min-width: 769px) {
    /* clase para el contenedor de login */
   /* .mainLogin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        border-radius: 1rem;
        box-shadow: 0px 0px 12px var(--negro);
        padding: 3rem;
        backdrop-filter: blur(10px);
    }
    /* clase para contenedores mas anchos */
    /*.main2{
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0px 0px 12px var(--negro);
        padding: 3rem;
        backdrop-filter: blur(10px);
        max-width: 650px;
    }
}