@import url(adminPerfil.css);
@import url(adminPerfilClaims.css);
@import url(adminPerfilEdit.css);
@import url(adminPerfilQuestions.css);
@import url(adminPerfilReturnedPackages.css);
@import url(adminPerfilShipments.css);
@import url(adminPerfilUsers.css);
@import url(Carrito.css);
@import url(createProduct.css);
@import url(detail.css);
@import url(editProduct.css);
@import url(footer.css);
@import url(header.css);
@import url(home.css);
@import url(login.css);
@import url(metodosDePago.css);
@import url(pagoTargeta.css);
@import url(register.css);
@import url(estrategia.css);
@import url(familiares.css);
@import url(previa.css);
@import url(banner.css);
@import url(vistaProductos.css);
@import url(body.css);
@import url(userProfile.css);


.is-valid {
    color: rgb(19, 151, 147);
    padding: 5px;
    font-size: small;
   
}
.is-invalid {
    color: red;
    padding: 3px;
    font-size: small;
    
}

