@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(header.css);
@import url(footer.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    /*Paleta de colores*/
    --rojo: #ff5656;
    --gris: #edf2f6;
    --azul: #6a7efc;
    --negro: #494953;
    /* Fuentes */
    --fuente:'Source Sans Pro', sans-serif;  
    /* Tamaños tipográficos */
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px;
}
/* MENU IZQUIERDA */ 

a{
    text-decoration: none;
}

main.userPerfilContainer {
    display: flex;
}

main.userPerfilContainer div.contenedorMenuUser {
    width: 30%;
}

main.userPerfilContainer div.contenedorMenuUser div.fotoPerfil {
    width: 100%;;
    padding: 15px;
    background: linear-gradient(90deg, #6a7efc ,#494953 );
    display: flex;
    justify-content: center;
}

main.userPerfilContainer div.contenedorMenuUser div.fotoPerfil img.foto {
    height: 300px;
    width: 300px;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    background: linear-gradient(90deg, #6a7efc ,#494953 );
    box-shadow: 0 0 3px;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu:hover{
    background: linear-gradient(90deg, #edf2f6 ,#ff5656 );
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu img.item {
    height: 50px;
    width: 50px;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu a {
    text-decoration: none;
    color: black;
}

main.userPerfilContainer div.contenedorMenuUser div.menuPerfil div.menu h4.nombreMenu {
    font-size: 25px;
    height: 100%;
    width: 100%;
}

/* FIN MENU IZQUIERDA */ 

/* BIENVENIDA USUARIO ADMIN */

main.userPerfilContainer div.contenedorDatosUser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    background: url(/images/fondo.jpg) no-repeat center;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}
/* USUARIOS REGISTRADOS */

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 45px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(90deg, #494953, #ff5656);
    border-radius: 0 0 10px 10px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.buscador {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.buscador input.input {
    box-shadow: 0 0 10px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    max-width: 500px;
    height:40px;
    outline: none;
    padding:0 15px 0;
    width: 80%;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario {
    width: 200px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px;
    border-radius: 25px;
    margin: 20px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario.active {
    display: none;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario figure.cajaImagen {
    border-bottom: 1px solid black;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario figure.cajaImagen img.foto2 {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario article.datos {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario article.datos h2.nombre {
    font-size: 20px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.targetaUsuario article.datos p.dato {
    font-size: 15px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.usuarioGrande{
    display:flex;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.usuarioGrande.active {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.usuarioGrande div.targetaUsuarioGrande {
    display: block;
    width: 350px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px;
    border-radius: 25px;
    margin: 20px;

}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.targetaUsuarioGrande figure.cajaImagenGrande {
    border-bottom: 1px solid black;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.targetaUsuarioGrande figure.cajaImagenGrande img.fotoGrande {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.targetaUsuarioGrande article.datos {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.targetaUsuarioGrande article.datos h2.nombre {
    font-size: 20px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.targetaUsuarioGrande article.datos p.dato {
    font-size: 15px;
    padding: 3px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.botones div.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.usuarioGrande div.botones div.boton button.borrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 30px;
    padding-bottom: 5px;
    background-color: tomato;
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.usuarioGrande div.botones div.boton button.guardar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border: none;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    font-size: 30px;
    padding-bottom: 5px;
    background: linear-gradient(93deg, #6a7efc, #ff5656);
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados div.usuarioGrande div.botones div.boton button.borrar:hover {
    color: white;
    background-color: red;
}

main.userPerfilContainer div.contenedorDatosUser div.usuariosRegistrados  div.usuarioGrande div.botones div.boton button.guardar:hover {
    color: white;
    background: linear-gradient(93deg,#ff5656, #6a7efc);
}

/* FIN USUARIOS REGISTRADOS */

@keyframes colores {
    0%{color: #494953;}
    25%{color: #edf2f6;}
    50%{color: #494953;}
    75%{color: #edf2f6;}
    100%{color: #494953;}
}

/* FIN ANIMACIONES */