<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Document</title>

</head>
<body>
    <header>
        <div class="head">
            <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="menu">
            <div class="barra">
               <span class="linea1"></span>
               <span class="linea2"></span>
               <span class="linea3"></span>
            </div>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="lista">
            <ul>
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/envios">Envíos</a></li>
                <li><a href="/ayuda">Cómo comprar</a></li>
                <li><a href="/pago">Métodos de pago</a></li>
            </ul>
        </div>
        <div class="item">
            <div class="usuario">
                <a href="/perfil"><i class="fa-regular fa-user"></i></a>
            </div>
            <div class="carrito">
                <a href="/carrito"><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="prueba">
                   <div class="link"> 
                       <a href="/login">Ingresa</a>
                   </div>
                   <div class="signUp">
                    <a href="/perfil"><i class="fa-regular fa-user"></i></a>
                   </div>
                   <div class="imagen-oculta">
                      <div class="contenedor">
                          <a href="/"><img src="/image/sinfondo.png" alt="logo"></a>
                          <h3 class="oculto">Juegos de mesa</h3>
                      </div>
                   </div>
            </div>
        </div>
    </header>
    <main>
        <div class="contacto">
            <h1>Contacto</h1>
            <p>¿Tenés alguna duda? ¿Necesitás ayuda? ¿Querés hacernos una consulta? ¡No dudes en contactarnos!</p>
        </div>
        <div class="formulario">
            <form action="">
                <div class="input-container">
                    <label class="input-text" for="nombre">Nombre</label>
                    <input class="input-style" type="text" name="nombre" id="nombre">
                </div>
                <div class="input-container">
                    <label class="input-text" for="apellido">Apellido</label>
                    <input class="input-style" type="text" name="apellido" id="apellido">
                </div>
                <div class="input-container">
                    <label class="input-text" for="email">Email</label>
                    <input class="input-style" type="email" name="email" id="email">
                </div>
                <div class="input-container">
                    <label class="input-text" for="consulta">Consulta</label>
                    <textarea class="input-style" name="consulta" id="consulta" cols="30" rows="10"></textarea>
                </div>
                <div class="button-container">
                    <button class="btn-submit" type="submit">Enviar</button>
                </div>
            </form>
        </div>


    </main>
    <%- include("partials/footer") %> 
</body>
</html>