<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %> 

<body>
    <!-- <header>
        <div class="head">
            <a href="/"><img src="/images/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="menu">
            <div class="barra">
               <span class="linea1"></span>
               <span class="linea2"></span>
               <span class="linea3"></span>
            </div>
        </div>
        <div class="buscador">
            <input class="busqueda" type="text" placeholder="¿A qué queres jugar?" >
        </div>
        <div class="lista">
            <ul>
                <li><a href="/construccion">Categorías</a></li>
                <li><a href="/ofeconstruccionrtas">Ofertas</a></li>
                <li><a href="/construccion">Envíos</a></li>
                <li><a href="/construccion">Cómo comprar</a></li>
                <li><a href="/construccion">Métodos de pago</a></li>
            </ul>
        </div>
        <div class="item">
            <div class="usuario">
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </div>
            <div class="carrito">
                <a href="/carrito"><i class="fa-brands fa-opencart"></i></a>
            </div>
            <div class="prueba">
                   <div class="link"> 
                       <a href="/login">Ingresa</a>
                   </div>
                   <div class="signUp">
                    <a href="/login"><i class="fa-regular fa-user"></i></a>
                   </div>
                   <div class="imagen-oculta">
                      <div class="contenedor">
                          <a href="/"><img src="/images/sinfondo.png" alt="logo"></a>
                          <h3 class="oculto">Juegos de mesa</h3>
                      </div>
                   </div>
            </div>
        </div>
    </header> -->
    <%- include("partials/header") %> 
    <main class="mainLogin">
        <div class="form-container">
            <h2>Login</h2>
            <hr>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <p class="input-text">Dirección de correo electrónico.</p>
                        <input class="input-style" type="email" name="email" placeholder="ej: veronikos@lomejor.com">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <p class="input-text">Contraseña.</p>
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="check">
                        <label class="text-remember" for="remember">Recordarme</label>
                        <input class="checkbox" type="checkbox" name="remember" id="remember">
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-submit">Ingresar</button>
                        <span class="error-message">Credenciales inválidas</span>
                    </div>
                    <div class="resetPass">
                        <p class="text-remember"><a href="/reset-password">¿Olvidaste tu contraseña?</a></p>
                    </div>
                    <p class="text-remember" id="noTienesCuenta">¿Aun no tienes cuenta?</p>
                    <div class="button-container">
                        <a href="register" class="btn-submit btn-acc">Crear cuenta</a>
                    </div>

                    <p class="text-remember">Vuelve a la <a href="/">Pagina principal</a></p>
                </div>
            </form>
        </div>
    </main>
    <%- include("partials/footer") %> 
    <script src="/js/efecto.js"></script>
</body>
</html>