<footer>
    <div>
        <h3>Chancho va!</h3>
        <p>Copyright © 1999-2023</p>
        <p>Chancho va! S.R.L.</p>
        <p class="noPhone">Monroe 860, C1428 CABA</p>
    </div>
    <ul class="footerUl">
        <li class="noPhone"><a href="/about">Nosotros</a></li>
        <li class="noPhone"><a href="/help">Ayuda</a></li>
        <li><a href="/terms">Términos y condiciones</a></li>
        <li class="noOther"><a href="/contact">Contacto</a></li>
    </ul>
    <div class="noPhone">
        <a class="noPhone" href="/contact">Contacto</a></li>
        <p class="noPhone"><i class="fa-brands fa-whatsapp"></i> 0800-123-4567</p>
        <p class="noPhone"><i class="fa-regular fa-envelope"></i> chancho-va@gmail.com </p>
        <p class="noPhone"><i class="fa-brands fa-instagram"></i> Chancho-va</p>
    </div>
    <div class="desktop">
        <img class="qr" src="/images/qr.jpg" alt="qr"> 
    </div>

</footer>