<header class="contenedor">
    <div class="contenedorHeaderMobileTablet">
        <div class="menu">
            <div class="barra">
                <span class="linea1"></span>
                <span class="linea2"></span>
                <span class="linea3"></span>
             </div>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="buscador">
            <div class="barraBuscadora">
                <input class="busqueda" type="search" placeholder="¿A qué queres jugar?" >
            </div>
            <div class="iconoBuscador">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="contenedorOculto">
            <div class="perfilCarrito">
                <div class="user">
                    <i class="fa-regular fa-user"></i>
                    <h5><a href="/users/login">Perfil</a></h5>
                </div>
                <div class="carrito">
                    <i class="fa-brands fa-opencart"></i>
                    <h5><a href="/products/Carrito">Carrito</a></h5>
                </div>
            </div>
            <div class="pagos">
                <h5><a href="/users/masVisitados">Productos Mas Visitados</a></h5>
            </div>
            <div class="ofertas">
                <h5><a href="/ofertas">Ofertas</a></h5>
            </div>
            <div class="categorias">
                <h5 class="palabra">Categorías</h5>
                <div class="flecha">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
            <div class="categoriaProductos">
                <h5><a href="/familiares">Familiares</a></h5>
                <h5><a href="/estrategia">Estrategia</a></h5>
                <h5><a href="/previa">Previa</a></h5>
            </div>
        </div>
    </div>
    <div class="contenedorHeaderDesktop">
        <div class="logo">
            <a href="/"><img src="/images/sinfondo.png" alt="logo"></a>
            <h3 class="oculto">Juegos de mesa</h3>
        </div>
        <div class="buscador">
            <div class="barraBuscadora">
                <input class="busqueda" type="search" placeholder="¿A qué queres jugar?" >
            </div>
            <div class="subMenu">
                <div class="pagos">
                    <h5><a href="/users/masVisitados">Productos Mas Visitados</a></h5>
                </div>
                <div class="ofertas">
                    <h5><a href="/ofertas">Ofertas</a></h5>
                </div>
                <div class="categorias2">
                    <h5 class="palabra">Categorías</h5>
                    <div class="flecha">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="categoriaProductos2">
                        <h5><a href="/products/familiares">Familiares</a></h5>
                        <h5><a href="/products/estrategia">Estrategia</a></h5>
                        <h5><a href="/products/previa">Previa</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="userCarrito">
            <div class="user">
                <i class="fa-regular fa-user"></i>
                <h5><a href="/users/login">Perfil</a></h5>
            </div>
            <div class="carrito">
                <i class="fa-brands fa-opencart"></i>
                <h5><a href="/products/Carrito">Carrito</a></h5>
            </div>
        </div>
    </div>
</header>