<div class="contenedorMenuUser">
    <div class="fotoPerfil">
        <a href="/users/editUserProfile"><img class="foto" src="/images/perfilUser/<%= session.userLogged.avatar%>" alt="Imagen De Perfil"></a>
    </div>
    <div class="menuPerfil">
        <a href="/users/editUserProfile">
        <div class="menu">
            <img class="item" src="/images/fichasinfondo.png" alt="item">
           <h4 class="nombreMenu">Editar perfil</h4>
        </div>
        </a>
        <a href="/users/editUserProfile">
        <div class="menu">
            <img class="item" src="/images/fichasinfondo.png" alt="item">
            <h4 class="nombreMenu">Preguntas Frecuentes</h4>
        </div>
        </a>
        <a href="/users/userPerfilShipments">
        <div class="menu">
            <img class="item" src="/images/fichasinfondo.png" alt="item">
           <h4 class="nombreMenu"> Envíos</h4>
        </div>
        </a>
        <a href="/users/userReturnedPackages">
        <div class="menu">
            <img class="item" src="/images/fichasinfondo.png" alt="item">
           <h4 class="nombreMenu">Devoluciones</h4>
        </div>
        </a>
        <!-- <div class="menu">
            <img class="item" src="/images/fichasinfondo.png" alt="item">
            <a href="/users/userClaims"><h4 class="nombreMenu">Reclamos y Sugerencias</h4></a>
        </div> -->
        <a href="/users/deleteAccount">
        <div class="menu">
            <img class="item" src="/images/fichasinfondo.png" alt="item">
           <h4 class="nombreMenu">Eliminar cuenta</h4>      
          
        </div>
    </a>            
      
    </div>
</div>