// Algun dia será un carrusel

<div class="home__carrusel-contenedor">
  <div class="home__carrusel-fotos">
    <img src="images/envio.png" >      
  </div>

  <div class="home__carrusel-fotos">
   
    <img src="images/cumple.png" >
   
  </div>

  <div class="home__carrusel-fotos">
  
    <img src="images/mayorista.png">
   
  </div>
</div>   