<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/adminPerfilClaims.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>Chancho va! </title>
         <!-- FontAwesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" /> 
    </head>
<body>
    <%- include('../partials/header')  %>
    <main class="userPerfilContainer">
        <%- include("../partials/menuAdmin")%>
        <div class="contenedorDatosUser">
            <div class="reclamos">
                <div class="nombre">
                    <h1>Reclamos</h1>
                </div>
                <div class="contenedorReclamo">
                    <h2 class="nombreUsuarioReclamo">Reclamo Hecho Por Usuario</h2>
                    <div class="ventanaReclamo">
                        <p class="reclamo">Este producto anda peor que los links de esta página. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, cupiditate, accusamus aperiam sit corporis maiores iusto dignissimos quod harum omnis doloremque dolores cumque, aliquid repellendus? Sequi velit nesciunt pariatur consequatur?</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %>
    <script src="/js/admin.js"></script>
    <script src="/js/efecto.js"></script>
</body>
</html>