<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/adminPerfilUsers.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>Chancho va! </title>
         <!-- FontAwesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" /> 
    </head>
<body>
    <%- include('../partials/header')  %>
    <main class="userPerfilContainer">
        <%- include("../partials/menuAdmin")%>
        <div class="contenedorDatosUser">
            <div class="usuariosRegistrados">
                <div class="nombre">
                    <h1>Usuarios Registrados</h1>
                </div>
                <div class="buscador">
                    <input class="input" type="search" name="search" placeholder="¿Qué usuario buscas?">
                </div>
                <div class="contenedorDeTargetas">
                    <div class="targetaUsuario">
                        <figure class="cajaImagen">
                            <img class="foto2" src="/images/defaultImagePerfil.png" alt="Imagen De Perfil">
                        </figure>
                        <article class="datos">
                            <h2 class="nombre">Nombre de Usuario</h2>
                            <p class="dato">Email</p>
                            <p class="dato">Nombre</p>
                            <p class="dato">Apellido</p>
                            <p class="dato">Contraseña</p>
                        </article>
                    </div>
                    <div class="usuarioGrande">
                        <div class="targetaUsuarioGrande">
                            <figure class="cajaImagenGrande">
                                <img class="fotoGrande" src="/images/defaultImagePerfil.png" alt="Imagen De Perfil">
                            </figure>
                            <article class="datos">
                                <h2 class="nombre">Nombre de Usuario</h2>
                                <p class="dato">Email</p>
                                <p class="dato">Nombre</p>
                                <p class="dato">Apellido</p>
                                <p class="dato">Contraseña</p>
                            </article>
                        </div>
                        <div class="botones">
                            <div class="boton">
                                <button type="submit" class="borrar">Borrar Usuario</button>
                            </div>
                            <div class="boton">
                                <button type="submit" class="guardar">Blanquear Contraseña</button>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %>
    <script src="/js/efectosPanelAdmin/usersRegister.js"></script>
    <script src="/js/efecto.js"></script>
</body>
</html>