<!DOCTYPE html>
<html lang="en"> 
    
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
<main class="main2">
    <div>
        <h2>¿Quienes son nuestros integrantes?</h2>
        <h3>Braian Briseña:</h3>
        <p> Mi nombre es Braian, tengo 28 años, soy de José C. Paz, Buenos Aires, de profesión Herrero, Electricista, hago reparación de PC, hice un curso de reparación de celulares y estoy haciendo uno de programación y desarrollo web de la mano de Programa Fundación Formar.</p>

        <h3>Javier Arias:</h3>
        <p> Tengo 22 años, actualmente vivo en Lanús, era un apasionado de los videojuegos y eso fue lo que me inclinó al mundo de la programación. Hice un curso en Egg coperation, bastante introductorio porque no vimos ningún lenguaje en especifico sino que trabajamos con un pseudo-codigo llamado Pseint. Actualmente estoy capacitandome en paralelo, a la mañana con la Fundacion Pescar y Salesforce en programación orientada a la administración en la Gestión de la relación con el cliente (CRM), habilidades blandas, tecnicas e inglés. Además me asignaron una beca de Data Analytics de Google en Coursera que pude completar con éxito.</p>

        <h3>Veronica Vargas:</h3>
        <p> Mi nombre es Verónica Vargas, estudiante de la Tecnicatura en Desarrollo web y aplicaciones digitales en el Instituto Superior Politécnico de Córdoba y Desarrollo web con Node Js en Digital House. Diseñadora ux/ui egresada del programa Codo a Codo.</p>

        <h3>Nicolas Sosa:</h3> 
        <p> Graduado de secundaria tecnica EEST Nº 7 Republica Del Panama. Estudiante de Desarollo Web Full Stack en Fundacion Formar. Mis unicos hobbies son jugar videojuegos, ver anime y jugar a la pelota. Y me estoy incursionando cada dia mas en el mundo de la programación que es algo que me encanta.</p>

        <h3>Carlos Pinto (Charly):</h3> 
        <p> 31 años, de Mar del Plata. Estudiante de Full Stack node.js en Fundación Formar y en Tecnicatura en Programación en UTN. Gastronómico (cocinero) desde hace 12 años. Amante de los videojuegos ( principalmente RPG ), el fútbol ( hincha de Boca Juniors ), la programación ( principalmente Backend ) y el Rock ( fanatico de Metallica )</p>
    </div>

    <h2>¿Qué productos o servicios brindará nuestro sitio?</h2>
    <p> Chancho Va! es un E-commerce que se dedica a la venta de juegos de mesa para disfrutar en familia o con amigos, disponemos de gran variedad de productos para diferentes edades y gustos.</p>

    <h2> ¿Quién será nuestra audiencia?</h2>
    <p>Apuntamos a toda clase de público.</p>

    <h2>¿Objetivo?</h2> 
    <p> Lograr aumentar las ventas del negocio ofreciendo una interfaz amigable con el usuario que además de la fácil navegación, ofrezca servicios de envíos y pasarelas de pago donde se pueda observar todo con claridad y de cómodo acceso y comprensión.</p>

    <h2>¿Cómo ajustaremos nuestra oferta a ese público?</h2> 
    <p> La página se ajustará a cada uno de ellos según rangos de edad y temática, desde juegos para niños, clásicos juegos de mesa para todas las edades, así como también juegos con temáticas para adultos.</p>

    <h2> Link de tablero de trabajo (Trello)</h2>
    <a href="https://trello.com/b/juzKydrf/grupo7chanchova">Tablero de trabajo</a> 

    <h2> Sitios de referencia</h2>
    <a href=https://store.steampowered.com/?l=spanish">● Steam</a> 
    <p> Nos gustó el carrito de la página de Steam.</p>

    <a href="https://www.bureaudejuegos.com/">● bureaudejuegos</a> 
    <p>Página usada como referencia por la gran cantidad de fotos de juegos de azar que hay en ella.</p> 

    <a href="https://www.playxfun.com/">● playxfun</a>
    <p> Buscando una paleta de colores, nos encontramos con los de esta página que nos parecio perfecta para adaptar a nuestro sitio.</p>

    <a href="https://juguetibici.com/collections/juegos-de-mesa">● juguetibici</a>  
    <p> Nos parecio muy interesante el efecto en cada foto de cambiar al pasar con el cursor.</p>

    <a href="https://www.mercadolibre.com.ar/">● mercadolibre </a>
    <p> Tomamos varias referencias de uno de los mas grandes E-commerce mas grandes que existe.</p>
</main>
<%- include("../partials/btn-wp") %> 
<%- include("../partials/footer") %> 

</footer>
</body>
</html>