<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head") %> 

<body>
    <%- include("../partials/header") %> 
    <main>
        <div class="text">
            <h1>Página en construcción</h1>
            <p>Volver a <a href="/">inicio</a><p>
        </div>
        <div class="image">
            <img src="/images/problemas.gif" alt="construccion">
        </div>
    </main>
    <%- include("../partials/btn-wp") %> 
    <%- include("../partials/footer") %> 
</body>
</html>