<!DOCTYPE html>
<html lang="en"> 
    
    <%- include("../partials/head") %> 
<body>
   <div>
    <h1> OINK, HUBO UN ERROR</h1>
    <a href="/"><img src="/images/sinfondo.png" alt="logo"></a>
    <h3>TOCA AL CHANCHITO PARA VOLVER A LA PÁGINA PRINCIPAL</h3>
    </div>
</body>