<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>
    <%- include("../partials/header") %> 
    <main class="main2">
        <h2>Preguntas frecuentes</h2>
        <div class="preguntas">
            <div class="pregunta">
                <h3>¿Cómo hago para comprar?</h3>
                <p>Para comprar en nuestra página, primero tenés que registrarte. Una vez que estés registrado, podés elegir los productos que quieras comprar y agregarlos al carrito. Luego, podés seguir comprando o ir al carrito para finalizar la compra. Una vez que hayas finalizado la compra, te enviaremos un mail con los datos de tu compra.</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para registrarme?</h3>
                <p>Para registrarte, tenés que ingresar a la página principal y hacer click en el botón "Registrarse". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás registrado!</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para iniciar sesión?</h3>
                <p>Para iniciar sesión, tenés que ingresar a la página principal y hacer click en el botón "Iniciar sesión". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás logueado!</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para recuperar mi contraseña?</h3>
                <p>Si olvidaste tu contraseña, tenés que ingresar a la página principal y hacer click en el botón "Iniciar sesión". Luego, tenés que hacer click en el botón "¿Olvidaste tu contraseña?". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás logueado!</p>
            </div>
            <div class="pregunta">
                <h3>¿Cómo hago para cambiar mi contraseña?</h3>
                <p>Si querés cambiar tu contraseña, tenés que ingresar a la página principal y hacer click en el botón "Iniciar sesión". Luego, tenés que hacer click en el botón "¿Olvidaste tu contraseña?". Luego, tenés que completar los datos que te pedimos y listo. ¡Ya estás logueado!</p>
            </div>
        </main>
     <%- include("../partials/btn-wp") %>

    <%- include("../partials/footer") %> 
</body>
</html>