<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>
    <%- include("../partials/header") %> 
    <main class="mainLogin">
        <div class="form-container">
            <h2 class="nombre">Login</h2>
            <hr>
            <div class="contenedorFormulario">
                <form class="formularioLogin" action="" method="">
                    <div class="input-container">
                        <p class="input-text">Dirección de correo electrónico.</p>
                        <input class="input-style" type="email" name="email" placeholder="ej: veroperreointenso@lomejor.com">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <p class="input-text">Contraseña.</p>
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="check">
                        <label class="text-remember" for="remember">Recordarme</label>
                        <input class="checkbox" type="checkbox" name="remember" id="remember">
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-submit"><a href="/admin/adminPerfil"> Ingresar</a></button>
                        <span class="error-message">Credenciales inválidas</span>
                    </div>
                    <div class="contenedorBotones">
                        <div class="resetPass">
                            <p class="text-remember"><a href="/users/reset-password">¿Olvidaste tu contraseña?</a></p>
                        </div>
                        <div class="registrate">
                            <p class="text-remember" id="noTienesCuenta"><a href="/users/register">¿Aun no tienes cuenta?</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %> 
    <script src="/js/efecto.js"></script>
</body>
</html>